[2015-03-22 22:54] jeekajoo opened #1 "missing RSS feed icon"
Hello,

First, thanks a lot for this wonderful theme.

I can see that you need to be logged in to see the 'RSS feed' icon. Is it by design?

J.

[2015-03-23 09:17] kalvn commented on #1
Hi,
You're completely right, that's a mistake.
It's now fixed in the master branch thanks to this commit: https://github.com/kalvn/Shaarli-Material/commit/c6734da3cafc86b6fb54af1ad213f727512d25ce.
Thanks for the feedback :)

[2015-03-23 09:17] #1 closed

[2015-03-23 09:20] jeekajoo commented on #1
thanks much :+1:

[2015-03-23 20:10] NerosTie opened #2 "Missing Title when logged"
When logged the title is missing for a permalink page.

[2015-03-24 11:33] kalvn commented on #2
Thanks for this feedback.
This problem comes from Shaarli directly, not from this theme.

I will open an issue on the Shaarli project.

[2015-03-24 16:12] NerosTie commented on #2
Thank you!

Really great theme btw! It should be the new default theme for shaarli :)

[2015-03-25 12:45] kalvn commented on #2
Thanks, I really appreciate :)

[Here is the ticket I opened](https://github.com/shaarli/Shaarli/issues/175). The fix is planned for version 0.9beta so it'll hopefully be quite soon.

[2015-03-25 12:45] #2 closed

[2015-04-04 22:55] NerosTie opened #3 "Awesomplete breaks compatibility for tags with Shaarlier app"
Awesomplete breaks compatibility for tags with Shaarlier app on Android.

See: https://github.com/dimtion/Shaarlier/issues/4

[2015-04-04 23:24] NerosTie commented on #3
https://github.com/dimtion/Shaarlier/issues/4#issuecomment-89683693

[2015-04-04 23:24] #3 closed

[2015-04-07 20:43] jeekajoo opened #4 "hide (+) button while editing a shaarlink"
Hi,
it happened to me several times to unintentionally click the (+)* button while trying to hit 'save' button while editing a shaarlink. Result is that you lose all the text you entered :-S

Do you think we could hide this button in this situation?

Thanks
J

\* the button to add a shaarlink

edit: it is especially true on mobile where (+) button is overlapping with 'save' button.

[2015-04-08 10:42] kalvn commented on #4
You're right this link can be a problem on several pages depending on the screen size. And as it's almost useless elsewhere than on the home page, I removed it from almost all other pages.

It's in the last commit: https://github.com/kalvn/Shaarli-Material/commit/f6b029f8b907df18e60f5054e4f6f19f24c40d7d
So you can take the current master version to apply this change. The only modified file is `mat

[2015-04-08 10:42] #4 closed

[2015-04-08 10:51] jeekajoo commented on #4
thanks kalvn :+1:

[2015-04-09 09:24] jeekajoo opened #5 "save shaarlink when pressing 'enter' in tag field (while editing a shaarlink)"
Hi,
again thanks for this wonderful theme.

How to reproduce:

1) edit a shaarlink
2) place cursor in tag field
3) press enter
4) you are asked if you want to delete the shaarlink.

4) expected behaviour: just save the shaarlink

Is this something that is do-able on your side? or is this something in shaarli community code.

Thanks
J.

[2015-04-09 13:28] kalvn commented on #5
It was due to the order of the buttons in the HTML code so it's only due to the theme.
I reordered them so that the Save button is the first and consequently the default one.
Commit: https://github.com/kalvn/Shaarli-Material/commit/b00be5ca18322efd5c70ffcc8183225aa2ce480a

The current master version implements this change.

Thanks for opening this issue (and the others) :)

[2015-04-09 13:28] #5 closed

[2015-04-09 14:07] jeekajoo commented on #5
you rock :+1:
thanks

[2015-04-17 16:56] kalvn commented on #2
The following commit fixes this on the official repo: https://github.com/shaarli/Shaarli/pull/190

[2015-04-20 12:13] NerosTie opened #6 "No pages navigation at last page"
If I reach the last page of my Shaarli (which has more than 1 page), the navigations buttons disapear.

[2015-04-20 14:13] kalvn commented on #6
That's perfectly true, the last commit ( https://github.com/kalvn/Shaarli-Material/commit/e13fca7aef54e36642134d4efa271bdfd428c111 ) fixes the issue.
Thanks for the repport.

[2015-04-20 14:13] #6 closed

[2015-04-20 14:32] NerosTie commented on #6
Thanks!

[2015-04-25 21:38] nlegaillart opened #7 "no thumbnail displayed when description is empty"
Hi Kalvn,

I noticed that if there's no description for a given link, no image was displayed, even if there was a generated thumbnail on disk.

To get the thumbnails with or without description, I had to change the condition on line 55:
{if="$value.description|thumbnail"}

Hope it's a bug and not a feature ;)

Regards,
nico

[2015-04-26 22:08] kalvn commented on #7
It was a bit more tricky than the fix you proposed but I figured out a way to solve this. It's available in the last commit ( https://github.com/kalvn/Shaarli-Material/commit/6f69710a6359c435e80dbb51f381427e8397413d ).

So yep it was definitely a bug, thanks for the report :)

[2015-04-26 22:08] #7 closed

[2015-06-01 17:58] jeekajoo opened #8 "permalink (date) not showing, or showing with a wrong fromnow date"
Hi,

1)
[code]
always showing `a few seconds ago`

2)
[code]
always showing `2015 years ago`

3)
[code]
showing nothing since commit `bec18701801cc140d760c261dd115fda1507a0dd` of shaarli community, which is:
[code]
If I switch to the default theme I can see the permalink even after this commit.

Thanks.
J.

PS: live examples of shaarlis using shaarli-material that have same bug as me http://river.

[2015-06-02 21:20] jeekajoo commented on #8
So to make it shorter, I confirm that since `bec18701801cc140d760c261dd115fda1507a0dd` (shaarli community), your theme is broken.

[2015-06-03 07:39] kalvn commented on #8
I wasn't planning to update this theme at each commit because it would potentially ask a lot of work. My idea was more to update at each release.
Though, I don't know when the next release is planned so I will try to work on this issue soon.

[2015-06-03 07:40] jeekajoo commented on #8
sure, no worries @kalvn  :)

[2015-06-03 21:19] nodiscc commented on #8
Hi all, this change (https://github.com/shaarli/Shaarli/commit/bec18701801cc140d760c261dd115fda1507a0dd) is likely here to stay. Template maintainers are now free to decide how the date should be displayed. I think it's safe to adapt your template.

[2015-06-04 09:54] kalvn commented on #8
The "wonderful theme" convinced me :)
I will update the master branch but I will wait for the next Shaarli release to create a release on my side, so I keep the same number as for Shaarli, which should help for people running old versions.
I'm quite busy right know but I'll fix this in the next few days.

[2015-06-05 09:56] ParoTheParrot opened #9 "Sorting"
is it possible to configure the sorting of the links (modified, alpha, added, ...)?

[2015-06-05 10:32] kalvn commented on #9
Not on my side, it would require changes to the core of Shaarli. Therefore, the request has to be made on the official Shaarli repository: https://github.com/shaarli/Shaarli .

[2015-06-05 10:32] #9 closed

[2015-06-05 13:49] kalvn commented on #8
The last commit fixes this : https://github.com/kalvn/Shaarli-Material/commit/5f685db8cbb218f1ed52c76cf61d02ad12d428e5
I added a parameter to set the date formatting. README is updated and I added an example options.php file as well.

I wait for your feedback before closing this issue.

[2015-06-09 11:10] jeekajoo commented on #8
looks good :)

Note that if using MATERIAL_DATE_FROMNOW,
MATERIAL_PHP_DATE_PATTERN and MATERIAL_DATE_PATTERN must be set. Otherwise dates are inconsistents.

So looking at https://github.com/kalvn/Shaarli-Material/blob/master/material/options.example.php.txt was *very* useful for me to make it work.

thanks @kalvn  :+1:

[2015-06-09 11:10] #8 closed

[2015-06-09 12:48] kalvn commented on #8
Perfect :)
I will change a bit the README to make it more clear as people may find it weird to have to set 2 different date formats which, in addition, don't have the same notation.
Anyway thanks for the feedback.

[2015-07-10 13:47] jeekajoo opened #11 "upscale favicon ?"
Hi,

What about upscaling the favicon ?

* I went here https://www.google.com/design/icons/#ic_stars
* Downloaded PNGs of 48dp (ic_stars_black_48dp.zip)
* Edited ic_stars_black_48dp/web/ic_stars_black_48dp_2x.png with Gimp
* Changed color profile to RGB
* Filled the star with color #02a8f3

Result:
https://fralef.me/links/tpl/material/images/favicon.ico (96x96px, transparent background preserved,

[2015-07-13 17:09] kalvn commented on #11
That's right, the default favicon is damn small.
I took a bigger version of the favicon and generated the .png and ico files, plus images for mobile OS.
I hope everything's fine, don't hesitate to comment, otherwise.

I'll keep this ticket open for a while.

[2015-07-13 17:27] jeekajoo opened #12 "provide button for firefox social"
Hi,
would it be possible to add Firefox Social button ?
[code]
See demo: http://shaarlidemo.tuxfamily.org/Shaarli/?do=tools (demo/demo)

Feature introduced with https://github.com/shaarli/Shaarli/commit/d33c5d4c3b9c70441391a08e8bcb2a8c639a4635

Thanks
J.

[2015-07-13 20:22] kalvn commented on #12
Hello,
I tried your demo but it doesn't work. Nothing happens when I press the button. However, the code is correct, according to Firefox Social API documentation. Is there something to activate in Firefox itself? I tried examples given by Mozilla (like GOAL.com) and it works.

[2015-07-13 20:29] jeekajoo commented on #12
yep, demo doesn't work.
it works on my shaarli.
1 advantage over bookmarklet: you bypass CRSF protections (e.g. on github)

[2015-07-13 20:53] jeekajoo commented on #11
Great!
Now I'm wondering if we still need this: ```<link rel="shortcut icon" href="tpl/material/./images/favicons/favicon.ico">```
An outdated github (https://github.com/audreyr/favicon-cheat-sheet) tells that:
[code]
I have doubts..
Thanks

[2015-07-14 06:13] kalvn commented on #11
I believe we do. I'll just reupload it to make sure it reaches at least 48x48 so it stays clean.
By the way thanks for the link, it's full of great information :)

[2015-07-14 06:44] kalvn commented on #12
I'm not against adding it but I need to make it work before. And it really sounds like the implementation of the current master branch of Shaarli doesn't work. What did you change on yours?

[2015-07-14 12:28] jeekajoo commented on #12
I did nothing for it to work on my shaarli. Are you using Firefox >= 29?

[2015-07-14 12:35] jeekajoo commented on #11
favicon.ico is only required for IE < 11 as older version do not support PNG version of favicon: https://en.wikipedia.org/wiki/Favicon#File_format_support
http://realfavicongenerator.net/faq#why_ico_not_declared suggests not to declare favicon.ico, just to drop it at the root if you want to satisfy old IE users.

[2015-07-15 10:35] kalvn commented on #12
Yes I use the last version (39) and it's working fine for other Firefox Social API implementations given as examples on the documentation https://support.mozilla.org/en-US/kb/add-social-features-firefox-sidebar

[2015-07-15 14:25] jeekajoo opened #13 "Add a floating edit button when logged and displaying a shaarlink #enhancement"
Hi Kalvn,

Would it be possible to add a "Edit" floating button while viewing a link (example : http://shaarlidemo.tuxfamily.org/Shaarli/?OOHCbg)
We could replace the current "Add" button by this "Edit" button, maybe.

Thanks
J.

[2015-07-17 12:03] IxeYgrek opened #14 "Show date and permalink"
Bonjour,

Je cherche à afficher la date en bas de mes post mais je n'y parvient pas. Y'a-t-il une solution ?

j'ai ajouté la ligne suivante :
`<span class="linkdate" title="Short link here"><a href="?{$value.linkdate|smallHash}">permalink</a> - </span>`

dans /tpl/material/linklist.html ligne 79 mais il n'y à que le permalink qui s'affiche.

D'avance, merci !
________
Hello,

I am trying to displa

[2015-07-17 14:44] IxeYgrek commented on #14
J'ai trouvé ma réponse :

Après la ligne 78 qui est :
' <a href="{$value.url|htmlspecialchars}" class="link-url"><span title="Short link">{$value.url|htmlspecialchars}</span></a> '

[2015-07-17 14:46] #14 closed

[2015-07-18 18:32] timovn opened #15 "On edit : delete button first in source code"
On edit, the the delete button is the first "submit" button in source code.
This causes the browser to delete the post when the user hits "enter".

To fix : change type="submit" to type="button" on both delete and cancel buttons.

Other pages might be subject to this behaviour too. Default Shaarli is not.

[2015-07-19 08:49] kalvn commented on #11
I agree on this but as this is only a theme, I cannot provide files to drop at the root of the installation. But I can definitely provide a file and ask users to move it (in the the README file for example).
A good suggestion to make on the official Shaarli repo would be to offer the possibility (via the settings menu) to change the favicon. And to give the possibility to theme developers to inter

[2015-07-19 08:52] kalvn commented on #13
That's a good idea. But Material Design guidelines expect only one floating button at a time so we either have to remove the add button and replace it by the edit button, as you suggested, or to find another solution. I'll think about it very soon.

[2015-07-19 08:59] kalvn commented on #15
Thanks for the feedback. This bug has already been reported (see issue https://github.com/kalvn/Shaarli-Material/issues/5) and fixed on the master branch. But it's indeed not resolved in the 0.0.45 release. I'll maybe push a new release to include all the bug fixes concerning Shaarli 0.0.45.

Concerning the replacement of type="submit" by type="button", it's not possible as Shaarli expects a POST

[2015-07-19 08:59] #15 closed

[2015-08-03 17:58] jeekajoo commented on #12
So we found out that:

https://github.com/shaarli/Shaarli/issues/310

[2015-08-05 07:37] kalvn commented on #12
Great, thanks a lot for investigation. I'll implement it and disable the button if the instance is accessed via http rather than https.

[2015-08-09 13:19] NerosTie opened #16 "Favicon issue"
I'm using the latest update and there are changes about the favicon.
How can I use my own favicon to work on every devices?

It could be a good idea to add a button somewhere in the options menu to add our own favicon.

Thanks.

[2015-08-10 16:48] kalvn commented on #16
I used [this tool](http://www.favicon-generator.org/) which should enable you to generate the exact same icons as I did in the last commit. There is also [this tool](http://realfavicongenerator.net/) which can help you.
Concerning the button to add your own favicon, it's not something I can do in a theme. You should suggest this idea directly on the official Shaarli repository.

[2015-08-10 16:48] #16 closed

[2015-08-16 12:14] #12 closed

[2015-08-16 12:16] jeekajoo commented on #12
committed: https://github.com/kalvn/Shaarli-Material/commit/7a9bc83fb70a1c6d0ea90f14f9d87e35a40e0a45

[2015-09-15 11:36] jeekajoo opened #17 "html encoding issue"
Hi kalvn ,
when I'm editing a link, shaarli is showing the html encoding code:
![screenshot - 15092015 - 12 40 19](https://cloud.githubusercontent.com/assets/1882534/9875426/311dd504-5bae-11e5-984d-8bd91f695a05.png)

Moreover, when I'm adding a link like https://budgetparticipatif.paris.fr/bp/jsp/site/Portal.jsp?document_id=1959&portlet_id=123.
`&` gets encoded into `&amp;`. And it gets saved with

[2015-09-15 11:40] kalvn commented on #17
For more information, see my comment here: https://github.com/shaarli/Shaarli/issues/352#issuecomment-140360056

Thanks for the feedback, jeekajoo.

[2015-09-15 11:40] jeekajoo commented on #17
Looks like you fixed it with https://github.com/kalvn/Shaarli-Material/commit/10f77f3df928a1977a138a3bf2a1cac267351077
This is great. Thanks

[2015-09-15 11:40] #17 closed

[2015-11-19 07:41] ParoTheParrot opened #18 "Shaarli 0.6.0?"
Everything adopted from https://github.com/shaarli/Shaarli/releases/tag/v0.6.0?
Can I use Shaarli-Material for Shaarli 0.6.0?

[2015-11-19 08:29] kalvn commented on #18
Nothing was done for Shaarli 0.6.0 yet but I'll work on it today.

[2015-11-19 11:37] kalvn commented on #18
I just finished the first testable version which lives in a separate branch for now: https://github.com/kalvn/Shaarli-Material/tree/v6

I tested all plugins available for now and they work well although some of them look weird because of the style or the icons used.

Don't hesitate to give me your feedback if you find bugs or strange behaviors.

[2015-11-24 14:49] NerosTie commented on #18
Can we update to shaarli 0.6 without serious issues with the theme?

[2015-11-24 17:19] kalvn commented on #18
Yes, I tested everything I could and found no issue so it should be safe. As always, backup your files before updating, just in case.
For now, the version compatible with Shaarli 0.6 lives in a separate branch. I wait a few days to ensure there is no major bug and then I'll deploy it on the master branch.

[2015-11-25 12:49] ParoTheParrot commented on #18
Shaarli-Material-6 feels good - thanks!

[2015-12-03 09:14] ParoTheParrot commented on #18
.. 0.6.1 is out!

[2015-12-04 16:33] kalvn commented on #18
Yep, I'll upgrade the theme soon but according to the changelog, it should already work.

[2015-12-04 19:25] nicolasdanelon commented on #18
I'm currently running the theme in shaarli 0.6.1 works great.
![screen shot 2015-12-04 at 16 25 12](https://cloud.githubusercontent.com/assets/2846046/11599090/a273eb7e-9aa3-11e5-9c31-41de38242613.png)
![screen shot 2015-12-04 at 16 25 03](https://cloud.githubusercontent.com/assets/2846046/11599092/a2799d6c-9aa3-11e5-8231-407eeb7ab671.png)
![screen shot 2015-12-04 at 16 24 58](https://cloud.github

[2015-12-04 22:54] kalvn commented on #18
Thanks for the feedback. There was an issue with the footer which was displaying an inexistent variable error but I fixed it. I also moved the changes to the master branch and did a release package for the version 0.6.1. Therefore, I close the ticket.

[2015-12-04 22:54] #18 closed

[2015-12-10 21:55] NerosTie opened #20 "A wave effect on buttons/icons"
In every material design things I see, there is a "wave effect" on icons and buttons.

(here, an example of what I'm talking about: http://www.cssscript.com/demo/google-material-design-ripple-effects-with-wave-js/)

I think it could be a nice thing to add to this theme (specially for the red "+" button)

[2015-12-10 22:05] NerosTie opened #21 "French translation"
Shaarli is mainly used by French speakers, is it possible to add a French translation for this theme?

[2015-12-11 13:59] kalvn commented on #20
I already thought about it in the past but I wanted the theme to stay very simple and clean.
Then I may consider adding this as an optionnal setting. I'll think about it and update this ticket soon.

[2015-12-11 14:04] kalvn commented on #21
This is more a feature that needs to be added to Shaarli directly. The subject was in discussion here in https://github.com/shaarli/Shaarli/issues/121
Feel free to contribute to the discussion there.

[2015-12-11 14:05] #21 closed

[2015-12-12 02:29] NerosTie commented on #20
Thanks! But why an optional setting?

[2015-12-13 11:54] kalvn commented on #20
Because some users might find this heavy in terms of Javascript.
I did a first version that I tried to keep light and clean, you can test it via this commit: https://github.com/kalvn/Shaarli-Material/commit/0106a5cc7eb7248882e939e80a559db4556b9422

[2015-12-13 12:50] NerosTie commented on #20
It really needs JS? It's not possible with CSS?

[2015-12-13 14:11] kalvn commented on #20
You cannot have something close enough to the original one provided by Google with just CSS, no.

[2015-12-22 22:17] wouaibe opened #22 "Edit a link - page size"
Evolution
Define the same page size between  "link" view and "Edit a link" view.
Could you please increase the width of "Edit a link" page to be close the links view page ?

[2015-12-22 22:24] wouaibe opened #23 "_blank option"
Evolution
Add a 'target="_blank"' option for link list on Tools/configuration of shaarli
So that on linklist page, each link opens in new tab.

[2015-12-24 10:46] #20 closed

[2015-12-24 10:55] kalvn commented on #22
Any reason for this?
I feel like it would be a bit too wide. If you want to write long descriptions, you can already make the text area taller.
If you really want to enlarge the edit text page, you can make the following change:
In the `material/editlink.html` file, change the line `16`:
[code]

into

[code]

[2015-12-24 10:59] kalvn commented on #23
This change needs to be done on Shaarli itself. As a theme developer, I cannot add a setting by myself. You can open an issue on the official Shaarli repository: https://github.com/shaarli/Shaarli/issues

[2015-12-24 10:59] #23 closed

[2015-12-24 11:00] kalvn commented on #13
I found no elegent way of including such button so I close the issue. I'll keep this in mind for the future anyway.

[2015-12-24 11:00] #13 closed

[2015-12-24 12:03] NerosTie commented on #20
Thanks!

[2015-12-24 14:46] wouaibe commented on #22
Yes !
In the shaarli original theme, the editlink is larger so it is easier to write long descriptions.
I have done your proposal of change : for me it is OK :-)
It works fine on my 5'' phone, 7'' tablet and 17'' PC !
Thanks'

[2015-12-24 14:52] wouaibe commented on #23
Done !
https://github.com/shaarli/Shaarli/issues/422

[2016-01-02 20:55] foomep opened #24 "Error Tag Rename"
i write the old an the new tag in the form and go to Rename Tag.
The site reload and at the ?do=changetag site i get a 404 Not found error.
with the original theme it works fine. i use the fork from https://github.com/shaarli/Shaarli

[2016-01-03 00:33] kalvn commented on #24
The [last commit](https://github.com/kalvn/Shaarli-Material/commit/d2596e8bce7c3c4b52d86b4e3122cd9eed8bf6ba) fixes this issue. You can [download the current master branch](https://github.com/kalvn/Shaarli-Material/archive/master.zip) to get it.

This bug is due to a little weirdness in Shaarli (see this issue https://github.com/shaarli/Shaarli/issues/428 ).

[2016-01-03 09:15] foomep commented on #24
it works fine. thx :+1:

[2016-01-03 09:15] #24 closed

[2016-01-05 15:00] #22 closed

[2016-01-05 15:01] kalvn commented on #11
I close this as it's in standby, depending on future developments.

[2016-01-05 15:01] #11 closed

[2016-02-01 14:10] nicolasdanelon opened #25 "lightbox + pluginadmin"
what about add a lightbox for deleting publication process?
and the plugin admin ui ? any release date ?

again. thanks for this awesome, incredible and wonderful theme!

[2016-02-02 22:36] kalvn commented on #25
I'm working on UI improvements which may include such lightbox system. I'll consider it.
Concerning the plugin admin panel, it's almost ready. It's coming in the next few days :)

[2016-02-03 18:10] NerosTie opened #26 "Blockquotes in italic"
With the new version of Shaarli, there is a plugin for markdown. I don't see any major issue but blockquotes could be better like being in italic.
Blockquotes are already in a greyish font, so maybe it's not necessary.

What do you think about it?

Edit: I think there is a missing margin on the left when the markdown plugin is activated.

[2016-02-03 19:19] nicolasdanelon commented on #25
wooohoo !

[2016-02-07 22:52] kalvn commented on #26
I didn't test it yet but I'll have a look to improve styles on this part.

[2016-02-08 17:12] kalvn commented on #25
I just released the last version including the plugin admin. I'll wait a little for feedbacks before making the release so feel free to deeply test it :)

The release also includes:

- ripple effect on the logo
- possibility to hide the search overlay with ESC key
- click on the search field hides autocomplete
- debug option has been removed as the last version of Shaarli seems to automatically re

[2016-02-08 17:19] kalvn commented on #26
As the content was purely text, I used to wrap it into a `<p>` tag. Now that there is the markdown plugin, I changed it to a div which fixes major issues. I let you have a look to the last version available in the master branch.

Concerning the blockquotes style, I prefer keeping things as-is as the markdown plugin embeds already a css file. Feel free to open an issue on the [official Shaarli repo

[2016-02-09 01:04] NerosTie commented on #26
Yes, it's better! I will open an issue on the Shaarli repo.

Thank you!

[2016-02-09 01:04] #26 closed

[2016-02-09 13:57] jeekajoo commented on #25
looks good to me :)
thank you!

[2016-02-11 15:00] nicolasdanelon commented on #25
works awesome, firefox, chrome & IE11 and edge. We have some issues with the right nav in IE9 but.. how cares!? :+1:

[2016-02-11 17:18] kalvn commented on #25
Thanks for the feedback!
I have to admit that IE versions lower than 11 are clearly out of scope :)

[2016-02-11 17:18] #25 closed

[2016-02-15 15:17] nicolasdanelon opened #29 "code & pre tags (developer issues)"
Hi kalv,
I'm using shaarli in the place I work. Sometimes we need to shaare code. Or store it as a `wiki` like post.. I create a little css code is in the `extra.html` file and goes like this:
[code]

So.. It may be a little improvement for your awesome theme, right? thank you so much for the `extra.html` file! it's awesomeeeEEEEEEE !!!!

![screen shot 2016-02-15 at 12 03 17](https://cloud.githubu

[2016-02-15 17:55] kalvn commented on #29
That's part of my todo list but you could propose this as well on the Shaarli repository to improve the Markdown plugin.

[2016-02-16 06:07] NerosTie opened #31 "Issue with blockquotes and preview images"
There is an issue with blockquotes and preview images (a jpg or coming from youtube).

![shaarli_material_2](https://cloud.githubusercontent.com/assets/4572452/13068427/9749d65c-d47b-11e5-82c4-dc2ceb97717f.png)

https://jeekajoo.eu/links/?hrF4xA

![shaarli_material_3](https://cloud.githubusercontent.com/assets/4572452/13068452/c5314f00-d47b-11e5-9907-7edfcf810608.png)

https://jeekajoo.eu/links/?-

[2016-02-16 08:35] kalvn commented on #31
Indeed. Thank you for the feedback, I'll fix this quickly.

[2016-02-18 10:33] kalvn commented on #31
This one is more tricky than I thought.

The problem here is that the image stands within a floating container. As you may know, floats create room so the text spread around them. But the borders or background still behave as if the floating element wasn't there, which cause the bug you reported. It's well explained [here](https://www.sitepoint.com/community/t/div-border-overlaps-float/1883).

So

[2016-02-18 12:04] ArthurHoaro commented on #31
You probably can work this around doing something like this:

[code]

[2016-02-18 13:42] kalvn commented on #31
Great idea thanks, I didn't think about putting the result of a filter in a variable.
I'll have a try.

[2016-02-18 23:37] kalvn commented on #31
I tried but apparently it does not work.
The line is compiled in:

[code]

which obviously isn't correct.

[2016-02-19 07:15] ArthurHoaro commented on #31
You're right. This works:

[code]

[2016-02-19 07:59] kalvn commented on #31
Great thanks! The last commit (f12c05e6a897a95c0cbb800448ab539adb86225e) fixes definitely the issue.

[2016-02-19 07:59] #31 closed

[2016-02-19 08:01] NerosTie commented on #31
Thanks! :+1:

[2016-02-25 13:55] nicolasdanelon commented on #29
My css was added to shaarli plugin. So this issue will be closed.

[2016-02-25 13:55] #29 closed

[2016-02-25 13:56] nicolasdanelon commented on #29
btw. do you have you to-do list as public somewhere? I can help with that if you want to ;)

[2016-02-25 17:29] kalvn commented on #29
Great, I'll update my personal Shaarli soon to benefit from your code :)

I have no public todo list for now. I'm working on a big refactoring of almost all the JS and CSS code so it would be difficult to be many people to work at the same time, but I may create one once those changes will be committed.

[2016-02-26 08:20] iGormilhit opened #33 "Problèmes d'affichage"
I'm using the master branch of shaarli community and your theme. I've upgraded shaarli, and your theme. But I encountered some display problems.

Here is how it looks like with a local install. I tried with different browser. It was the same problem on the server installation ( https://id-libre.org/shaarli ), but for this one I went back to the default theme.

![selection_420](https://cloud.github

[2016-02-26 08:38] iGormilhit commented on #33
I should have thought of it before : I tried to start from a fresh install of shaarli and your theme, reimport the data, and everything is working fine. Sorry.

[2016-02-26 10:29] kalvn commented on #33
No problem ;)
Based on the screenshot, it looks like your version of Shaarli Material was not the last one (based on the presence of search and filter buttons) so yep, a fresh install is what I would have recommended. I'm glad it works now.

[2016-02-26 10:29] #33 closed

[2016-02-26 10:33] kalvn commented on #33
By the way you could disable the qrcode plugin as Shaarli Material still includes it's own way of generating qrcodes for now (via the bottom right icon).

[2016-02-26 10:41] iGormilhit commented on #33
That's right, it's even better like this ! Thank you.

[2016-02-26 13:43] nicolasdanelon commented on #29
great ! please let me know if you need some hand, you can find me at gitter if you want to :)

[2016-03-08 22:52] nicolasdanelon opened #34 "Color header in chrome (android)"
This is not difficult in a "normal website" what about shaarli?

http://stackoverflow.com/a/26960753

[2016-03-09 09:46] kalvn commented on #34
All in all, Shaarli is a website as well so no it won't be difficult :)
Thanks for the idea, I'll do it soon!

[2016-03-09 10:06] kalvn commented on #34
Done. https://github.com/kalvn/Shaarli-Material/commit/cc568a710bbfd6b976b96eabde30775f9bfeaad9

If you use the color customization of Shaarli Material, it should use it. Otherwise, it'll use the default blue.

[2016-03-09 10:06] #34 closed

[2016-03-09 12:51] nicolasdanelon commented on #34
:+1: great

[2016-03-10 02:05] nicolasdanelon opened #35 "I'm having this php error"
Hi bro, sorry to bother but, is this your theme issue? or a shaarli issue?

[code]

[code]

[code]

[2016-03-10 16:55] ericjuden commented on #35
Hey Nicolas,

I was getting the same error. My pull request should fix your issue: [Fix for PHP Notice: Undefined variable: search_type](https://github.com/kalvn/Shaarli-Material/pull/36)

[2016-03-10 20:23] nicolasdanelon commented on #35
@ericjuden looks lite you are right !

[2016-03-13 21:52] kalvn commented on #35
Thanks for the feedback. It's indeed due to the new way of handling search (terms and tags mixed). I'll review your pull request as soon as possible :)

[2016-03-15 16:29] kalvn commented on #35
The last commit should do the trick: https://github.com/kalvn/Shaarli-Material/commit/ed935187692ef81f605b5e047d28532fe4988315
I'll soon tag it as the version 0.6.5 if no other bugs are found.

[2016-03-15 16:29] #35 closed

[2016-03-16 11:30] aurmil opened #37 "QR Codes are displayed even when related plugin is disabled"
hello

why force QR Code presence in linklist.html in your theme?
should be responsibility of the plugin only
is there a technical reason?

I don't want this plugin to be enabled so I would like not to display QR codes, without editing your code (custom edits will be lost at every update)

thanks
regards

[2016-03-16 12:05] kalvn commented on #37
It's due to the first versions of Shaarli where the QR code button was present by default with no possibilities to remove it.

The plugin system now allows to make it more dynamic but there is only one placeholder for links (a place where plugins can inject content) which I placed on the top right corner. Due to design choices, this plugin does not work well with this theme. That's why I decided t

[2016-03-16 13:11] aurmil commented on #37
OK, thanks for answering

so my next question is: why did you choose to group $plugins_header.buttons_toolbar and $plugins_header.fields_toolbar in the same place?
I see that in base template, $plugins_header.buttons_toolbar is in header and $plugins_header.fields_toolbar is in linklist
I'm absolutely new to Shaarly, but this fact makes me think plugins can inject code in 2 differents places

rega

[2016-03-16 13:40] kalvn commented on #37
Simply because both buttons and fields are controls, and I want to keep controls in the toolbar. And as the toolbar is almost out of space, I had to group them in the same hidden block.
It may change in the future depending on plugins which will make use of those placeholders but for now it allows to keep things tidy and have sort of a dedicated place for plugins.

[2016-03-18 04:31] nicolasdanelon commented on #37
What about use `position: absolute ` I mean use the default placeholder and move the icon to the top and right position of the box (:

[2016-03-18 13:05] jeekajoo opened #38 ""Are you sure you want to delete this link ?" modal not poping in "post" screen"
How to reproduce:

* Shaarlink something
* Reshaarlink same link using bookmarklet. The previously saved shaarlink should open in the "post" screen, in a window. Now try to delete the shaarlink with the button. Nothing happens.

Expected behaviour:

A modal appears. `Are you sure you want to delete this link ?` Yes / No

Thanks

[2016-03-18 19:26] kalvn commented on #37
Well, it's not a matter of positioning the placeholder itself, in fact I could put it wherever I want. But for the bottom right space is dedicated for specific controls with specific icons and I cannot allow plugins to add content there as it will include inconsistencies in the design. That's why I put the placeholder in the upper right corner, but I still have no control on it.

What I could do i

[2016-03-18 20:04] kalvn commented on #38
Thanks a lot for the feedback.

This commit https://github.com/kalvn/Shaarli-Material/commit/74c9908f39acea4b3f78258b4dd307441f09f1ab should fix the issue. I also updated the release v0.6.5.

[2016-03-20 13:05] jeekajoo commented on #38
fixed. thanks :+1:

[2016-03-20 13:05] #38 closed

[2016-03-27 10:36] jlnbdt opened #40 "Le formulaire de soumission est parfois « cassé »"
Bonjour,

Je suis tombé sur deux pages qui « cassent » le formulaire de soumission lorsque je tente de les ajouter à mon Shaarli :

- http://www.eurohex.eu/
- http://freakonometrics.hypotheses.org/9069

J'ai essayé de les enregistrer avec le thème de base (via le site de démo), le problème ne se pose pas. J'en conclus (peut-être à tort) qu'il s'agit d'un bug de ce thème, que j'utilise.

Merci :)

[2016-03-27 10:55] ArthurHoaro commented on #40
Probablement shaarli/Shaarli#512.

[2016-03-27 11:43] kalvn commented on #40
Yep, je confirme que depuis que cette Pull Request a été mergée le problème est réglé. Je t'invite donc à mettre à jour ton Shaarli @jlnbdt
Merci pour l'investigation @ArthurHoaro

[2016-03-27 11:43] #40 closed

[2016-03-27 12:52] kalvn commented on #37
I added a new option to disable the default QR Code control.

[code]

[2016-03-27 12:52] #37 closed

[2016-03-29 11:25] jeekajoo opened #41 "2 clicks needed to login or logout"
Hi,

Would it be possible to be just 1 click away from login and logout? Today we need 2:
- 1 for displaying a submenu
- 1 for actually log in/out

For this, I guess we need to have 1 icon for login that changes into another icon for logout.

Thanks
J.

[2016-03-29 19:10] jeekajoo opened #42 "make fonts bigger"
Hi,

Visitors have to zoom in to read the text: https://lut.im/xgJWO1pe5h/WkaJhpEpMJhKDkTj.png
I think it would be better to increase the font size generally.

https://www.smashingmagazine.com/2011/10/16-pixels-body-copy-anything-less-costly-mistake/

Thanks
J.

[2016-03-30 12:21] kalvn commented on #41
I agree, that's what I thought when I did it but at that moment I wasn't able to find an icon eloquent enough. I'll think about this and maybe improve tooltips to make it clearer.

[2016-03-30 12:51] kalvn commented on #42
Interesting article, thanks. I'll do a few tests with a small increase of the base font size.

[2016-03-30 18:13] kalvn commented on #41
The implementation has been done in the last commits of the master branch.

[2016-03-30 18:13] #41 closed

[2016-03-30 18:26] jeekajoo commented on #41
Perfect.

Thank you @kalvn !

[2016-03-30 20:22] nicolasdanelon opened #43 "Arrow out of bounds"
when we see both pager arrows ... the one on the right (newer) is out of boundaries creating a little right margin :(

![screen shot 2016-03-30 at 17 18 15](https://cloud.githubusercontent.com/assets/2846046/14156215/a1beb462-f69b-11e5-8b34-a1f1a5bb2409.png)
![screen shot 2016-03-30 at 17 18 06](https://cloud.githubusercontent.com/assets/2846046/14156214/a1beab2a-f69b-11e5-8977-432514bde86a.png)

[2016-03-30 20:56] kalvn commented on #43
Indeed. The last commit (https://github.com/kalvn/Shaarli-Material/commit/0466cb41337417adb05d4c3d963e070caf4d9789) fixes this by reducing the "page" label on very small screens and increasing the space dedicated to arrows.
Thanks for the feedback.

[2016-03-30 20:56] #43 closed

[2016-03-30 21:31] nicolasdanelon commented on #43
hahahahahahaha I create this issue before of the commit !
good job, as usual ! :+1:

[2016-04-09 16:13] jeekajoo opened #44 "tag cloud links font size is broken using shaarli master"
Hi,

Maybe I'm anticipating too much
At least, it is here for reference: https://github.com/shaarli/Shaarli/pull/527

Thanks
J.

[2016-04-10 08:11] kalvn commented on #44
Thanks for the reference. I'll wait a little to give people time to upgrade their Shaarli before.

[2016-04-14 21:31] jeekajoo commented on #44
Yep no problem.
Note: For people using shaarli master like me, here is the fix you need to apply to the template
[code]

[2016-04-15 15:05] kalvn commented on #44
It's done. I'll assume people who use the master version of the theme use the master version of Shaarli and update both at the same time :)

[2016-04-15 15:05] #44 closed

[2016-04-26 04:41] NerosTie opened #45 "Tags are way too big!"
Because of this commit: https://github.com/kalvn/Shaarli-Material/commit/e97a26bd04439c53edbdda5e715eb1c0dfc9d177, my tags are really big!

![screenshot_20160426_063839](https://cloud.githubusercontent.com/assets/4572452/14807113/ac794e4c-0b79-11e6-80e0-050e75ebb940.png)

If I change `em` -> `pt`, it's ok.

[2016-04-26 04:53] NerosTie opened #46 "Plugin administration is not well reloaded"
How to reproduce:

1. Go to Plugin administration
2. Enable or disable a plugin
3. Click on "save plugins"
= the page is reloaded but it's the same configuration as before =
4. Manually reload a second time the page
= it's ok =

[2016-04-26 06:58] ArthurHoaro commented on #46
That's related to Shaarli. @alexisju experienced it, but our investigations didn't lead us anywhere.

[2016-04-26 08:44] kalvn commented on #46
Yes, I had the same problem when I was developing on Ubuntu 14.
Strangely, it works properly when developing on Windows. And it works well on my server (hosted by OVH).
I close the issue and let you open another one on the official Shaarli repo (or check if it doesn't already exist).

[2016-04-26 08:44] #46 closed

[2016-04-26 08:48] kalvn commented on #45
Yes it's due to a recent change of Shaarli (https://github.com/shaarli/Shaarli/commit/a1703c44c63852cf54d979a50921dc3a09508a82). Did you upgraded your Shaarli installation to the last version available in the master branch?

Usually, the master branch of Shaarli Material is meant to work with the master branch of Shaarli. And in the same manner, Shaarli Material releases are meant to work properly

[2016-04-26 09:36] NerosTie commented on #45
Ho! I didn't know about that! So, this is a false issue and I can close it.
Thank you!

[2016-04-26 09:36] #45 closed

[2016-05-02 13:42] NerosTie opened #47 "Compatibility with emojione plugin and the ASCII Smiley option"
I wrote a plugin for emojis support with Shaarli. Everything works well but not one particular option with the Material theme.

https://github.com/NerosTie/emojione/issues/5

Material has a strange behavior with ASCII emojis like `:)` at the beginning of a line (that means they are not converted) if the markdown plugin is activated. And they are not converted in tag area too.

This issue do not ex

[2016-05-02 19:43] kalvn commented on #47
I'll have a look (even though I have no idea how emojione works).

[2016-05-02 20:09] kalvn commented on #47
It looks like it's due to this bug: https://github.com/Ranks/emojione/issues/54
If, when looking at the HTML code, the emoji is right next to an HTML tag, it'll fail. So you can try for example, even on the default Shaarli theme, if you write this:

[code]

the equivalent HTML code will be

[code]

It'll fail as the emoji will be just next to the `<br>` tag which makes the new line.

And therefore

[2016-05-03 18:53] NerosTie commented on #47
With the default theme, this line:
[code]
works if markdown is activated but it fails if markdown is deactivated and this the opposite behavior in the material theme...

Thanks for the all explanation!

Well, this bug seems to be related to to ASCII and emojione, not the Material theme as I thought. Using ASCII is always risky in that case and this an option in a plugin, so I will not try to fix i

[2016-05-03 18:53] #47 closed

[2016-05-07 11:02] kalvn commented on #22
I just published an update which offers the possibility to increase the width of the link edition page. You could be interested :)

[2016-05-22 17:21] wouaibe commented on #22
Good !
Thanks

[2016-05-23 12:02] wouaibe opened #48 "Unable to disable qrcode plugin"
In admin page, it is impossible to disable the qrcode plugin. It appears always.
It seems to come from theme
See [https://github.com/shaarli/Shaarli/issues/581](https://github.com/shaarli/Shaarli/issues/581)

[2016-05-23 23:36] kalvn commented on #48
When you say it's impossible to disable the QR Code, do you mean it keeps being checked even though you unchecked it and submitted the plugins administration form? Or you mean that the QR Code still appears in links despite the fact that you disabled it?

If you talk about the second case, do you use the last version of the theme (0.7.0)? I recently added a better management of this QR Code plugin

[2016-05-24 05:57] wouaibe commented on #48
Second case.
In doubt, i have made a update.
Here :
[Result with plugin activated in admin form](http://s33.postimg.org/pfg1uaxvj/avecqrcode.png)
[Result with plugin dissabled in admin form](http://s33.postimg.org/79prueb5r/sansqrcode.png)

[2016-05-26 08:27] kalvn commented on #48
An upgrade of the theme will definitely solve this.

[2016-05-26 08:27] #48 closed

[2016-05-27 17:54] NerosTie opened #49 "The daily page is broken on mobile"
![screenshot_2016-05-27-19-47-39_com android chrome](https://cloud.githubusercontent.com/assets/4572452/15616465/34933396-2444-11e6-8d13-440842129f6c.png)

As you can see, the "Daily" page is really broken on mobile. This issue concerns the default theme as well but is it possible to change that in your theme? Plus, this page is not really "material".

[2016-05-28 12:24] kalvn commented on #49
Indeed I should have worked on this page long time ago. When I created the theme, I wanted to keep it as is because I liked the "newspaper" style and it make sense ("Daily" evokes newspaper).

But it's time to find a new design for this page, I'll think about something :)

[2016-07-13 22:58] farfeduc opened #50 "Broken on last Version."
As the config has been moved to data/config.json.php , there is no more config.php.

Resulting in a lot of errors like this on almost every pages:

`Notice: Undefined index: config in /var/www/shaarli/tmp/linklist.aeadca0864f49f08401fb0f97c162898.rtpl.php on line 64`

How can I fix that ?

Thank you in advance !

[2016-07-14 08:27] kalvn commented on #50
That's perfectly normal because Shaarli configuration system has been completely revamped.

Therefore, I had to update the theme in order to make it work with the last development version of Shaarli. It has been done through the following commit d3790320ca0f8eb1ac3086f553197f079f2a4c1d

So to fix this, you should download and install the last master branch version of Shaarli Material.

Just a gene

[2016-07-14 16:59] farfeduc commented on #50
Ok ! Thank you very much ! :+1:  :smile:

[2016-07-14 16:59] #50 closed

[2016-07-16 07:09] k0nsl opened #51 "Nice work!"
I just wanted to let you  know I really appreciate this project by you. I have only done a few tweaks here and there,.
You can see my copy running on following site:
https://bookmarks.k0nsl.org

Have a good weekend,

[2016-07-18 14:39] kalvn commented on #51
Thank you very much, I appreciate :)

Your tweaks look indeed quite discreet but I'm glad you hacked the theme to better fit your needs.

If there is anything else you'd need help for, feel free to ask.

[2016-07-18 14:39] #51 closed

[2016-07-19 12:39] mro opened #52 "login failure"
when hunting https://github.com/mro/ShaarliOS/issues/13#issuecomment-233617106, I seem to be unable to login.

Response always is "Wrong login/password."

[code]

Shaarli + Template:

[code]

Any idea what's the issue here?

[2016-07-19 12:44] mro commented on #52
same here in automated tests: https://travis-ci.org/mro/Shaarli-API-test/jobs/145804731#L955

[2016-07-19 12:55] mro commented on #52
The setup fails. The shaarli must be set up *prior* changing the template.

[2016-07-19 13:12] mro commented on #52
ic, the template just can't be used during setup. Wouldn't call this an issue.

[2016-07-19 13:12] #52 closed

[2016-07-19 13:30] kalvn commented on #52
In any case, it's almost impossible to use another theme than the original one during the setup phase as the config file does not exist yet (except by changing the PHP code directly).

From what I see in the issue on your project, you parse HTML with xpath to get fields' values. It indeed may not work in my case as I only keep fields name. Everything else may vary, especially the DOM structure. Ca

[2016-07-19 14:09] mro commented on #52
no, but XPath. I'm using libxml2.

But your theme works just fine – there's some strange kind of server config issue I guess. https://github.com/mro/ShaarliOS/issues/13#issuecomment-233643988

[2016-07-19 14:13] mro commented on #52
The (automatic) setup now is:

[code]

[2016-07-19 15:37] mro opened #53 "shaarli title missing"
Material: v0.7.0
shaarli: https://github.com/shaarli/Shaarli/commit/b6e58bab8a7 (which is current master)

Seen via https://travis-ci.org/mro/Shaarli-API-test/builds/145849752 and manual, fresh installation.

    $ fgrep '"title":'  data/config.json.php

doesn't display top left but rather just "Shaarli". Not sure if it's a template or core issue, but I suspect the template because https://travis-

[2016-07-19 15:40] mro commented on #53
core issue: https://github.com/shaarli/Shaarli/issues/600

[2016-07-19 15:40] #53 closed

[2016-07-19 15:46] mro commented on #53
OT: @kalvn @nodiscc you're sharing a room?

[2016-07-19 17:28] nodiscc commented on #53
what nope

[2016-07-19 17:40] mro commented on #53
github profile locations localhost and 127.0.0.1 :-)

[2016-07-19 19:20] kalvn commented on #53
Each of us is on its internal network, that's all :)

[2016-08-06 13:21] ArthurHoaro opened #54 "Typo in tools.html"
![http://i.imgur.com/80g7wab.png](http://i.imgur.com/80g7wab.png)

bookmarklets

[2016-08-06 13:22] kalvn commented on #54
Can't believe I didn't see it before. Thanks for the feedback.

[2016-08-06 13:25] ArthurHoaro commented on #54
You're welcome. It looks nice BTW. :)

[2016-08-06 13:34] kalvn commented on #54
Thanks :)
Fixed via https://github.com/kalvn/Shaarli-Material/commit/b3bdc571310ee11b3a656b98d3a13c78220f0179

[2016-08-06 13:34] #54 closed

[2016-09-14 17:05] Gabbalo opened #55 "Page goes black on enabling template"
Hi there,

after installing the template (material folder with 'tpl/material/' in config.php or whole repo with 'tpl/Shaarli-Material/material/' does not matter, effect is the same.
The new favicon shows up, nothing else. Page is going blank.
Returning to the original GLOBAL in config.php fixes the problem ... without using the nice, new template, of course.
I am currently using Shaarli 0.6.5 with

[2016-09-14 19:45] kalvn commented on #55
Hey,
The version of Shaarli and Shaarli Material must be the same. If you use [Shaarli 0.6.5](https://github.com/shaarli/Shaarli/releases/tag/v0.6.5), you must install [Shaarli Material 0.6.5](https://github.com/kalvn/Shaarli-material/releases/tag/v0.6.5). And therefore, you must use [this README file to configure it](https://github.com/kalvn/Shaarli-Material/blob/v0.6.5/README.md).

But I suggest

[2016-09-15 17:25] kalvn commented on #55
Feel free to close the issue if it now works as expected.

[2016-09-15 19:19] Gabbalo commented on #55
I will test it tomorrow evening (UTC+1) and if it will work, which I expect, I will of course close this Layer 8 issue :)
Please be patient until then and thank you for the fast reply.

[2016-10-24 15:46] tristan-k opened #56 "Customization is not respected"
[Customization](https://github.com/kalvn/Shaarli-Material#customization) is not respected with Shaarli Community Version 0.8.0

[code]

[2016-10-24 19:08] kalvn commented on #55
Hey Gabbalo, any news on this issue?

[2016-10-24 19:10] kalvn commented on #56
What version of this theme do you use?
Even though it does not support officially Shaarli v0.8 for now, it should work well.

[2016-10-24 19:10] tristan-k commented on #56
I'm using v0.7.0.

[2016-10-25 09:02] kalvn commented on #56
Actually it's normal, both Shaarli and Shaarli Material versions must match. Since Shaarli v0.8 was released quite recently, I didn't have time to release Shaarli Material v0.8. I just have to run a few tests to ensure there are no issues.

But what you can do already is to take the master branch version which will be very close to the v0.8 and should already work quite well.

[2016-10-25 14:09] tristan-k commented on #56
The master branch resolves the issue. Thanks!

[2016-10-25 14:09] #56 closed

[2016-10-25 14:14] tristan-k commented on #56
One more thing: Is it possible to disable the animations?

[2016-10-25 14:33] kalvn commented on #56
Glad to know your problem is solved. Keep an eye on the releases in the coming days.

Disabling animations is not officially possible.
If you really want to do so, you'll have to modify the code yourself:

In `material/build/scripts.min.js`, replace

[code]

by

[code]

It should do the trick. But it'll not remove animations from external libraries such as the tags field autocomplete.

[2016-10-25 18:02] Gabbalo commented on #55
I am so sorry I forgot about this issue. I am quite busy these days.
Of course it worked just fine so I am closing it.
Thanks again an horray to your commendable issue tracking :)

[2016-10-25 18:02] #55 closed

[2016-10-27 15:03] nicolasdanelon commented on #49
What about something like this app ?
https://play.google.com/store/apps/details?id=com.google.android.apps.magazines&hl=en

[2016-11-01 09:18] iGormilhit commented on #42
I do agree with @jeekajoo and I add another interesting article on that subject : http://xtianmiller.com/notes/your-body-text-is-too-small/ (found through https://www.quaternum.net//2016/10/05/enlarge-your-body-text-size/ )

[2016-11-06 17:27] kalvn commented on #42
I definitely agree on this, I just lack time lately but I'll work on this as soon as I can (as well as other minor changes).

[2016-11-07 05:33] iGormilhit opened #57 "Support of the tags advanced plugin"
It would be nice that, *one day*, the theme supports the [tags advanced](https://framagit.org/framasoft/myframa/tree/master/shaarli/plugins/tags_advanced) plugin. I think that yet, this plugin is only supported by the theme of [MyFrama](https://my.framasoft.org/) instance.

[2016-11-07 05:39] iGormilhit opened #58 "Inspiration from MyFrama for the daily view."
I don't use the daily view, so it's not very important. But I find that the MyFrama theme is a good inspiration for that page:
![selection_171](https://cloud.githubusercontent.com/assets/1557213/20047456/c802e00e-a4b4-11e6-8dc0-78a6ee9561a9.png)

[2016-11-07 13:50] kalvn commented on #58
Indeed that's close to what I'd like to achieve. However, I find it a bit too "loaded" with those strong shadows and large card footers. But I like how blocks are organized.

And it would allow to finally make it responsive (https://github.com/kalvn/Shaarli-Material/issues/49).

I'll have a look on this.

[2016-11-07 19:04] iGormilhit commented on #58
You're right about the shadows and cards footers. In fact, that's indeed the blocks organisation that appealed me...

[2016-11-17 22:29] kalvn commented on #57
As far as I see, this plugin uses the old way to access the local configuration (`$GLOBALS['config']` instead of `$config->get`). Therefore, there is no way to make it work on a recent installation of Shaarli. Once this is fixed, it should work out of the box. There may only be a bit of work to consider in terms of design but that should be it.

[2016-12-15 10:10] NerosTie opened #63 "Support for the v0.8.1"
Your theme is not compatible with the latest version of Shaarli (permalinks are broken and maybe some other things). Can you do something about that? Thanks!

[2016-12-15 14:46] kalvn commented on #63
Yes that's absolutely true. I'll take care of it as soon as possible. Most likely this week or next week.

[2016-12-15 18:51] nicolasdanelon commented on #63
thanks kalvn !

[2016-12-15 19:41] #42 closed

[2016-12-15 21:06] kalvn commented on #63
[This release](https://github.com/kalvn/Shaarli-Material/releases/tag/v0.8.1) should fix these issues :)

As always, do a backup of your installation before deploying this update.

Feel free to open new issues if you discover problems.

[2016-12-15 21:06] #63 closed

[2016-12-15 22:04] NerosTie commented on #63
It was really fast! Thanks!

[2016-12-15 22:34] ArthurHoaro commented on #63
Awesome! For people who stumble on this thread and for your release description @kalvn, I've released sooner today v0.8.2 to fix a major issue, but it doesn't affect templates.

[2016-12-15 22:43] kalvn commented on #63
Thanks for the notice.

[2016-12-16 10:23] jeekajoo commented on #42
Thank you.

[2017-01-15 20:11] georgesuba opened #64 "cannot install"
hi.. in readme.md is how to install this theme...

`In your Shaarli installation, open the data/config.json.php and change the raintpl_tpl parameter from tpl\/ to tpl\/material\/.`

When looking at data folder there is nothing like config.json.php..  so I've created one with your example

[code]

but theme is still not loading - Im using latest original repo or shaarli.

Thanks.

[2017-01-16 12:15] kalvn commented on #64
By default, there is indeed nothing in the data folder. To create all the files, you need to first do the starting setup of your installation by just going with your browser where you installed Shaarli.
Once you defined your settings as well as your username and password, the `config.json.php` file should be present and then you'll be able to modify the `resource/raintpl_tpl` value.

Another solut

[2017-01-16 18:44] georgesuba commented on #64
Hi, well seems to me that I get complete different options on my shaarli after update and on new install too. Are you using same original [shaarli source](https://github.com/shaarli/Shaarli)? Because even when I done new install this is what was created in my /data folder

* datastore.php
* lastupdatecheck.txt
* updates.txt
* config.php
* ipbans.php
* log.txt
* .htaccess

Also as you said I've ins

[2017-01-16 19:00] georgesuba commented on #64
crap - I just realised that I was using unforked - outdated version. sorry.

[2017-01-16 19:00] #64 closed

[2017-01-16 22:25] kalvn commented on #64
No problem, good to hear it works now!

[2017-01-30 21:40] Hydrog3n opened #65 "Too few arguments to function ban_canLogin()"
Hi, thank you for your work.

I install your theme but on login page I have an error only with your theme. Have you some hint ?

[code]

[2017-01-30 21:51] kalvn commented on #65
Hello,
According to the error message, I suppose you are using Shaarli v0.8.3 and Shaarli Material v0.8.2 right?

Unfortunately, the way this version 0.8.3 was built doesn't allow me to release a proper version 0.8.3 of Shaarli Material.

Therefore, you have 2 options:

- Using the last master version of both [Shaarli](https://github.com/shaarli/Shaarli/archive/master.zip) and [Shaarli Material](h

[2017-01-30 22:00] ArthurHoaro commented on #65
Hey!

Shaarli v0.8.3 is just fixing a blocking issue with PHP 7.1. Using v0.8.2 won't fix it. Using both master branches might work, if you're up to date, but it isn't a really stable solution.

Maybe you could do as I did: commit a fix in your master branch, create a branch based on your v0.8.2 release, `git cherry-pick` the fix in this branch, and release a v0.8.3 from the new branch.

[2017-01-30 22:02] Hydrog3n commented on #65
Exactly ! I didn't think about it at all ! I ready compatible with 0.8.3 and i install the release 0.8.2.

Thank you for your help.

[2017-01-30 22:02] #65 closed

[2017-01-30 22:30] kalvn commented on #65
@ArthurHoaro thanks for the hint, I didn't think of using a dedicated branch based on the v0.8.2. Since the fix was already done in the master branch, along with other fixes (I should definitely split my commits better), I couldn't reuse it. But I just created another one just for the branch.

@Hydrog3n thanks for the feedback, I'm glad it worked. Please just be aware of the ArthurHoaro's remark w

[2017-01-30 22:45] Hydrog3n commented on #65
@ArthurHoaro It's work fine with my docker image with php 7.0 for the moment. So wait and see.

[2017-01-30 22:50] ArthurHoaro commented on #65
Awesome! Glad I could help.

@Hydrog3n Well, that's weird, passing too few arguments is a breaking change from PHP 7.1. http://php.net/manual/fr/migration71.incompatible.php But as long as it's working, fine!

[2017-01-30 23:12] Hydrog3n commented on #65
@ArthurHoaro After check version i have php 7.1 on my docker container. And with the master of Materiel it's ok. Maybe this error is only with v0.8.2 of Materiel.
For now it's work so I don't touch anything ^^.

[2017-01-31 09:50] kalvn commented on #65
Yes I think it works because master versions of both Shaarli and Shaarli Material implement the fix that was just done in v0.8.3.

[2017-02-20 13:51] Liandriz opened #66 "Petite erreur dans un lien"
Juste un lien 404 ici : https://github.com/kalvn/Shaarli-Material/blob/master/material/page.footer.html#L3
Le lien "Help" qui pointe vers "doc/index.html" devrait pointer vers "doc/Home.html".

[2017-02-20 18:05] kalvn commented on #66
Thanks for the feedback! I just did a commit to fix that.

[2017-02-20 18:05] #66 closed

[2017-04-19 02:54] sigmap opened #67 "Dark variation possible?"
Would it be possible to the replace the white/light backgrounds and black/dark text with the inverse? White text and dark backgrounds?

[2017-04-23 19:49] kalvn commented on #67
That's not an easy thing to do according to how the theme is built. Therefore, it's not planed to add such variation for the moment.

What you can do though, if you know a bit of CSS, is to use the `user.css` file [to add a few rules](https://github.com/shaarli/Shaarli/wiki/Theming#custom-css) to remove dark backgrounds. This is a short example:

[code]

[2017-04-23 19:49] #67 closed

[2017-05-04 07:51] dajare opened #68 "Config value for setting main font?"
I have used the instructions in the README.md file for the theme to set the colours to the "Indigo" set from the [suggested swatches][s]. Success! :) I would also like to set the **font** to one of my choice, but I can't work out how to do that. I tried simply changing the choice in the [`_values.scss` file][v], but that didn't work.

Is there a **config.MATERIAL_FONT** type setting one can use in

[2017-05-06 09:35] dajare commented on #68
After trying to see what is involved, it is possible that allowing for completely free font customization might be non-trivial.

If so, what about at least giving a choice between Roboto (default, as it is at present), and [Roboto Slab][r] -- so users could at least have a choice between a "sans" and a "serif" option? For me, that would do the trick nicely!

For comparision, here's Roboto:

![sans

[2017-05-09 17:30] kalvn commented on #68
Thanks for your suggestion.

I like your idea but I don't want to offer too many options in order to keep the maintenability easy and to avoid too many modifications of Shaarli's configuration file. At least not until theme parameters are officially supported.

What you can do though is to use the famous `user.css` which allows you to add additional CSS rules.

You must create a file named `user.c

[2017-05-09 17:30] #68 closed

[2017-05-09 20:25] dajare commented on #68
Thanks for the instructions! I followed them all, but for some reason my `user.css` can't be read/found. When I click on the link from "view source", I get this message:

[code]

It doesn't matter what permissions I use (644, 751, 755, 777!), it always comes out the same. The path is correct. Is it because I'm still using Shaarli 0.8.3(?4) maybe? I might need to check with support for my webhostin

[2017-05-09 20:55] kalvn commented on #68
Hmm looks like the file is in a location that your web server can't access. Ensure that you put it in the directory where Shaarli is installed.

Normally, if you didn't updated the theme, you should put it in `<shaarli>/tpl/material/src/user.css`. Otherwise, if you updated it with my last commit, it should be in `<shaarli>/data/user.css`. In any case, the `roboto-slab` folder must be in the exact

[2017-05-10 08:51] dajare commented on #68
@kalvn @ArthurHoaro It turns out the problem was the `.htaccess` file in the `<shaarli_location>/data` directory. It looks like this:

[code]
I renamed it to `_.htaccess` so it wouldn't be read, and now all is good.

Is that htaccess overly restrictive, or does it need the rules re-written? Glad it was so simple, though! :)

[2017-05-10 11:28] kalvn commented on #68
That's a good point, this `.htaccess` file was made to ensure the content of this folder cannot be accessed from outside (which makes sense because it contains all data and configuration). Therefore, it may not be the best location for `user.css` file. I was able to make it work because I did it locally with built-in PHP webserver which doesn't take .htaccess files into consideration.

@ArthurHoar

[2017-05-10 12:05] ArthurHoaro commented on #68
Definitely, we need more specific rules. It's not a good idea to set permissive rules here because you're exposing your data, configuration and other information. Most are wrapped in a PHP file, but still.

Le 10 mai 2017 13:28:01 GMT+02:00, kalvn <notifications@github.com> a écrit :

[2017-05-10 13:29] dajare commented on #68
@ArthurHoaro @kalvn Sorry if I should't be prolonging this (closed!) issue.

Here's my solution at the moment:

1. I added this to my `.htaccess` file (+ [StackOverflow credit][s]):

[code]

2. I moved the `roboto-slab` font folder out of `<shaarli>/data` and put it in the `tpl/material` directory; and

3. adjusted the lines Kalvn provided in `user.css` like this:

    `src: url('../tpl/material/r

[2017-05-10 14:24] kalvn commented on #68
https://github.com/shaarli/Shaarli/issues/872 opened.

@dajare well done, that's a good quickfix! Unfortunately, I guess it's not a viable solution for Shaarli itself because it may cause issue in the future if this rule is forgotten. But in the meantime, as soon as it works for you, I guess you can keep it as-is. Just be careful when you update because your modifications may be overwritten.

[2017-05-12 10:38] dajare opened #69 "Typo in linklist.html"
There is a small typo in [the summary under the "link list"][s] (`linklist.html`, line 137):

The last word should either be "private" (no "s"), or (better?) "private links" -- but then there would need to be some logic to add an "s" or not to "link" depending on the number. If there are 0 or >= 2, then an "s" is needed, but no "s" if there is only 1. Would this do it?

[code]

I've never used Rai

[2017-05-15 20:18] kalvn commented on #69
I chose the second option https://github.com/kalvn/Shaarli-Material/commit/1aae170b70085e731d2972dce62123db244c480a

Thanks a lot for reporting this :)

[2017-05-15 20:18] #69 closed

[2017-05-16 13:36] NerosTie opened #70 "Support for v0.9.0"
What is the compatibility of the theme with this version?

[2017-05-16 13:37] nicolasdanelon commented on #70
works fine for me

[2017-05-16 18:46] kalvn commented on #70
I didn't have time yet to do a full testing session but so far I didn't find any problem. You just need to use the very last master version.

[2017-06-03 13:21] plexa commented on #70
@kalvn Are you aware that delete does not work?

[2017-06-04 19:32] kalvn commented on #70
@plexa It works properly on my side. Can you describe precisely how to reproduce your issue? Does deletion work with the default Shaarli theme?

[2017-06-06 04:16] plexa commented on #70
@kalvn If I stay with the (new) default theme all the usual actions work fine, but after switching to "material" the theme lacks of this functions:
* delete does not work (adding and editing Link works fine)
* in CONFIGURATION the timezone has no values / nothing to select.
* in CONFIGURATION there is no themechooser

Installed Software: shaarli v. 0.9.0 with Shaarli-Material-master (v.0.8.3)

[2017-06-06 21:28] kalvn commented on #70
I confirm that it works for me. I did the following:

1. I downloaded Shaarli (master) from Git
2. I downloaded Shaarli Material (master) from Git and copied the folder *material* into *tpl/*
3. I launched the local web server and did the configuration with the default theme
4. I went into *Tools > Configure your Shaarli* to switch to *Material* theme

And I was perfectly able to delete links, cha

[2017-06-17 09:49] aurmil commented on #70
hello
just to say I had the same problem with Material for 0.8.3 and Shaarli 0.9.0
replacing with Material master branch is OK
thanks

[2017-06-18 16:13] kalvn commented on #70
@aurmil this is absolutely normal. Shaarli Material must only be used with an equivalent version of Shaarli. Meaning that if you want to use Shaarli v0.9, you must wait for me to release Shaarli Material v0.9. I know it can be frustrating to wait but when a new version of Shaarli is released, it requires time for me to adapt the theme so that it works properly.

An alternative is to use Master ver

[2017-06-18 17:34] kalvn commented on #70
I just published release v0.9.0 https://github.com/kalvn/Shaarli-Material/releases/tag/v0.9.0

[2017-06-18 17:34] #70 closed

[2017-06-18 17:35] NerosTie commented on #70
Thanks!

[2017-08-04 10:53] Gabbalo opened #71 "Tag cloud boken on 0.9.0"
When using this theme, a click on "Tag cloud" will present you with a http error 500. When changing the theme back to default, evething is working just fine.
So there might be a problem with the theme when using the current (2017-08-04) version of shaarli.

[2017-08-04 17:11] kalvn commented on #71
I'll have a loot. But please keep in mind that there is no guarantees for Shaarli Material to work with the last version of Shaarli. Only releases are built to work properly with similar version numbers.

[2017-08-04 17:54] nicolasdanelon commented on #71
# Compatibility
## Shaarli Material was tested and validated on Shaarli 0.8.3.
![alt text](http://i0.kym-cdn.com/photos/images/newsfeed/000/096/044/trollface.jpg?1296494117)

[2017-08-04 19:26] kalvn commented on #71
Actually this is a mistake, Shaarli Material was tested with Shaarli v0.9.0, but the current master branch of Shaarli is obviously not v0.9.0.

[2017-08-04 20:03] nicolasdanelon commented on #71
please update the readme file tho

[2017-08-04 20:17] kalvn commented on #71
Done.

Actually @Gabbalo if you use the tags branch it works fine: https://github.com/kalvn/Shaarli-Material/tree/tags but it's still a work in progress so the rest of tags pages are not finished yet. Therefore I highly suggest **not**  to use this page in production.

[2017-09-18 11:08] kalvn commented on #71
I now close this issue as I merged most of tags related developments in the master branch. The 9.1 is coming soon :)

[2017-09-18 11:08] #71 closed

[2017-10-05 21:16] NerosTie commented on #49
Any news? ;)

[2017-10-08 10:30] kalvn commented on #49
Working on it, slowly but surely :)

I preferred prioritize the support of Shaarli 9.1.

[2017-10-08 10:32] NerosTie commented on #49
You mean Shaarli 9.2? ;)

[2017-10-08 10:37] kalvn commented on #49
Damn your right, I just noticed that 0.9.2 was out.

[2017-10-08 13:28] dajare opened #72 "Material 0.9.1 - toolbar icons now missing"
Having just updated to Material to 0.9.0 (which worked great), I have now applied the 0.9.1 update. As a result, the toolbar icons have gone missing, as seen here:

![screenshot][gif]

(That's actually an [animated gif][gifv] -- the pic above is static.) My Shaarli itself is 0.9.2. I'm happy to help debug if some instructions are provided.

[gif]: https://i.imgur.com/pY7GZL6.gif
[gifv]: https://i.

[2017-10-08 13:42] kalvn commented on #72
It's probably linked to the icon font which doesn't load properly. Can you open devtools (F12) and check the console so see if you have any error message? It could also be linked to a browser extension which may block non-standard fonts.

[2017-10-08 14:05] dajare commented on #72
Here's a screenshot of the network downloads from Chrome. You can see the icons that it is stalling on. (At least it gets two! In Firefox I don't get any.)

![material-icon-prob](https://user-images.githubusercontent.com/40625/31317500-0658bab2-ac3a-11e7-9a5d-cfff822b4d98.jpg)

Any thoughts?

[2017-10-08 14:33] kalvn commented on #72
Looks like a cache issue. Your browser tries to download icon that are not present anymore since they have been replaced by the font (example: tools.png, key.png, etc.).

Can you try to clear your browser's cache?

[2017-10-08 14:39] dajare commented on #72
I tried that - no change. I also tried two browsers on this machine that had not visited the site before (Chromium and Safari -- no toolbar icons), and from another machine that had not visited the site (no icons).

Is there something else I can check?

[2017-10-08 14:43] kalvn commented on #72
It strange, it looks like you only updated CSS and JS but not HTML templates. For exemple, the toolbar login button should look like that:
![image](https://user-images.githubusercontent.com/6149640/31317799-97153dc0-ac47-11e7-852f-6dfc84dea367.png)

But in your case you still have the old template:
![image](https://user-images.githubusercontent.com/6149640/31317804-af1c8bda-ac47-11e7-9017-08d7663f

[2017-10-09 19:59] dajare commented on #72
Thanks so much for looking around -- that was a help. I just got a fresh master.zip, uploaded and installed it (instead of the release version) and now all is well. I'm still puzzled why it didn't work before (I always upload the zip and "expand" on the remote site) but all good now!

Shaarli + Shaarli-Material = 👍  :)

[2017-10-09 19:59] #72 closed

[2017-10-20 09:11] ivangretsky opened #73 "Consistent interface"
Good day!
Thank you for a nice theme!

I reaally like how it looks on the main page, but picture wall and daily pages have very different design. Is it possible to make it all straight via some kind of config? I would prefer it all pure material (know its just some personal prefs, but I imagine this would be pretty common one).

[2017-10-20 09:13] ivangretsky opened #74 "Search item for mobile view"
Good day! Thanks for your work!

I am trying to use the theme on mobile. The main feature needed is searching within the b0okmarks. But the search feature is hidden in dropdown, which makes it less accessible.  Would you consider moving the search button to the top nav bar?

[2017-10-22 16:56] kalvn commented on #73
Hi there. The redesign of those pages is planned and also tracked on issue https://github.com/kalvn/Shaarli-Material/issues/49 but I preferred prioritizing the support of new Shaarli version so I didn't have so much time to spend on it. But it'll definitely come in a near future :)

[2017-10-22 17:04] kalvn commented on #74
That's a pretty good idea given that search is potentially the most used feature. It's not very straight forward to implement given the way toolbar icons are structured now but I'll figure out a way to do it elegantly.

[2017-10-23 06:03] ivangretsky commented on #73
Good to know that, thanks!

[2017-10-26 21:38] gruenheit opened #75 "Variable in includes.html"
Hi kalvn,
since I installed your theme today I tried to track down the source of the meta header

`<meta name="theme-color" content="#2196f3"> `

Although I configured "MATERIAL_COLOR": "#669900" in data/config.json.php as in ([Customization](https://github.com/kalvn/Shaarli-Material#customization))! I found this in includes.html

[code]

It works as intended when I change it to

[code]
kind regar

[2017-10-28 21:30] kalvn commented on #75
That's a mistake, variable `THEME_COLOR` should indeed be `MATERIAL_COLOR`. Thanks for the feedback, I'll publish a fix.

[2017-10-28 21:33] kalvn commented on #75
Aaaaand done! https://github.com/kalvn/Shaarli-Material/commit/17dd870c44cd8e89fff7668411b5665a37469b74

[2017-10-28 21:33] #75 closed

[2018-01-08 17:16] dajare commented on #69
Hmmm - on upgrading Shararli to 0.9.3, and Material to latest, I see this tiny (really tiny!) niggle is still present. Now it is in [line 143 of `linklist.html`][1]:

        <em>{$linkcount} link{if="$privateLinkcount > 1"}s{/if}{if="!empty($privateLinkcount)"}, including {$privateLinkcount} private{/if}</em>

Should be:

        <em>{$linkcount} link{if="$linkcount > 1"}s{/if}{if="!empty($privat

[2018-01-08 22:24] kalvn commented on #49
This should finally be okay now :)

[2018-01-08 22:24] #49 closed

[2018-01-08 22:25] kalvn commented on #58
The Daily Shaarli page was just updated, partly based on your suggestion :)

[2018-01-08 22:25] #58 closed

[2018-01-08 22:26] kalvn commented on #73
The Daily Shaarli was just updated. I'll now see what I can do for the picture wall.

[2018-01-08 22:27] kalvn commented on #57
I close this issue as it is related to external developments.

[2018-01-08 22:27] #57 closed

[2018-01-08 22:55] NerosTie commented on #49
Nice, thanks!

[2018-01-11 15:46] kalvn commented on #69
You are totally right, that's now fixed https://github.com/kalvn/Shaarli-Material/commit/56f43248664742b9720045d00dafeea9d9223400

Thanks! :)

[2018-01-30 19:41] poVoq commented on #73
Any chance to allow customization of the Daily Shaarli? Like a custom name and font etc.?

Also would be a card view like this:
https://github.com/dhoko/ShaarliTemplate
be possible as an option?

Thanks!

[2018-01-30 20:12] kalvn commented on #73
@poVoq you can create the file *data/user.css* and customize anything you'd like. You just need to know a bit of CSS.

Concerning the card view, I find it okay for the Daily view because it fits the newspaper aspect but I find it a bit too messy for the main view.

[2018-01-31 03:57] poVoq commented on #73
Thanks for the reply. I agree, card view might not be for everyone... but as an option it would be nice.

Is there an up to date skeleton code for the user.css somewhere? I shortly checked yesterday, but I only found options for very old versions of Shaarli.

[2018-01-31 04:43] poVoq opened #76 "Markdown not rendered in the Daily Shaarli"
I noticed that on my Daily Shaarli the markdown syntax is not converted.

This only happens when I enable this theme, with the default one it works.

Thanks for looking into it.

[2018-01-31 12:43] kalvn commented on #73
Actually by default, user.css is empty. Up to you to put whatever CSS code you want.

For example, [Liandri](https://shaar.libox.fr) did that: https://shaar.libox.fr/data/user.css

[2018-01-31 12:54] kalvn commented on #76
This is related to the markdown plugin and the way I use the data on the Daily page (a bit different to what is done in the default theme). I'll see if I can adapt the markdown plugin.

[2018-01-31 13:09] kalvn commented on #76
PR https://github.com/shaarli/Shaarli/pull/1071 has been submitted to fix this.

[2018-01-31 15:28] poVoq commented on #76
Yeah, that works, hopefully included by default in the next version.

[2018-02-01 03:59] poVoq commented on #76
Would be nice if the markdown was also rendered in the RSS feed of the daily. This more or less works with the non-daily feed.

[2018-02-01 12:02] kalvn commented on #76
I created a better pull request as request by Shaarli developers: https://github.com/shaarli/Shaarli/pull/1073

@poVoq this had to be done in Shaarli directly. Can you please open an issue on Shaarli project directly?

[2018-02-01 12:02] #76 closed

[2018-02-02 14:38] poVoq commented on #73
Can I somehow re-enable that "external link" font awesome icon in front of the title that is visible in the default theme? That would make it much more obvious to users where to click to go to the original article.

[2018-02-03 21:00] kalvn commented on #73
This CSS in *user.css* should work:

[code]

[2018-02-08 03:57] poVoq opened #78 "Scrollbar issue with Bookmarklet under Firefox"
See: https://github.com/shaarli/Shaarli/issues/1079

The only theme I could have gotten a different from the default bookmarklet would have been this one.

Thanks for looking into it!

[2018-02-08 08:39] kalvn commented on #78
Indeed some window features are missing. I'll fix that. In the meantime, as mentioned in the ticket you reference, you can quickly switch to default theme, add the bookmarklet from there and then switch back to Material theme.

[2018-02-08 20:51] kalvn commented on #78
Fixed by https://github.com/kalvn/Shaarli-Material/commit/773da1e65aea595c4a3961a74d687393d8745b16

[2018-02-08 20:51] #78 closed

[2018-07-26 14:05] immanuelfodor opened #79 "PHP Fatal error: Call to undefined function ban_canLogin()"
This morning, I did a clean install of Shaarli, building the docker image from the latest source (https://github.com/shaarli/Shaarli/pull/1185#issuecomment-407979031), and everything worked with the default theme. Later, I cloned the Material theme from Github, and everything has worked fine since, until I was logged out and wanted to log back in a few minutes ago. Bamm, empty login page.

Docker

[2018-07-26 14:12] immanuelfodor commented on #79
Quick & dirty fix: changed `"theme": "material",` to `"theme": "default",` in `data/config.json.php`, so I can now log back in. Changed back after login to aplpy the Material style.

[2018-07-27 17:43] immanuelfodor commented on #79
The Shaarlier android app also couldn't login, so I deleted both references of the `ban_canLogin` function (and its corresponding `if`s) as a second quick fix.

[2018-08-01 19:27] kalvn commented on #79
Thanks for the feedback. There was indeed an issue here. Commit https://github.com/kalvn/Shaarli-Material/commit/3b9b73dbb73f801eebf9668ec82b497bd799c59d fixes it :)

[2018-08-01 19:27] #79 closed

[2018-08-02 14:14] immanuelfodor commented on #79
Thanks for the fix, it works! :)

[2018-08-03 12:32] Chouchen opened #80 "Thumbnail() error"
I'm on PHP-7.2 and while upgrading shaarli I fell into #79  (which is resolved alright). But I have another error while accessing the links list (homepage):

I restarted Apache and PHP and I removed all files in `./tmp` without any success.

If I comment [those lines](https://github.com/kalvn/Shaarli-Material/blob/master/material/linklist.html#L72-L75), the home is working again.

I get to the def

[2018-08-03 12:36] Chouchen opened #81 "Private only error"
I'm using PHP7.2 on Apache.

Last shaarli and material versions (just upgraded)

If I click on the "private only" button while connected, the page reload with all types of link…

I have this error in log :

[2018-08-03 14:45] kalvn commented on #80
As written [here](https://github.com/kalvn/Shaarli-Material#compatibility), Shaarli Material is not yet compatible with Shaarli v0.10.

I'm working on the upgrade but I have very little time lately so it might take a few days to be released.

[2018-08-03 14:45] #80 closed

[2018-08-03 14:45] kalvn commented on #81
As written [here](https://github.com/kalvn/Shaarli-Material#compatibility), Shaarli Material is not yet compatible with Shaarli v0.10.

I'm working on the upgrade but I have very little time lately so it might take a few days to be released.

[2018-08-03 14:45] #81 closed

[2018-09-03 11:44] immanuelfodor commented on #80
Thanks for the quick fix @Chouchen, I didn't check the theme compatibility when pulled the latest Shaarli image, saved my instance :)

[2018-09-03 20:30] rudeyak opened #83 "0.10.x quirks"
With the new version released, there are some changes that appear to be affecting templates.

One is that privateonly mode changed to a SESSION variable:
root@:/var/www/sha0102# grep -si privateonly */*
application/LinkFilter.php:            // ignore non private links when 'privateonly' is on.
application/Updater.php:     * Change privateonly session key to visibility.
application/Updater.php:

[2018-09-04 13:03] nicolasdanelon commented on #83
this theme is not ready for shaarli 0.10, please check the following link
https://github.com/kalvn/Shaarli-Material#compatibility

[2018-09-05 05:01] rudeyak commented on #83
Understood, happy to do whatever I can to aid with testing/debugging.

[2018-09-05 05:01] #83 closed

[2018-09-21 01:13] monkeymosher commented on #80
Hi!

Any chance the update will be available soon? Thanks :))

[2018-10-15 21:07] toolleeo opened #84 "Support for newer version (v0.10.2)"
I'm trying this wonderful theme on Shaarli v0.10.2.

There are some issues in the visualization. Mainly, it displays only one item for each page, and the search button does not work.

[2018-10-16 00:50] nicolasdanelon commented on #84
hi @toolleeo please check the compatibility of the theme https://github.com/kalvn/Shaarli-Material#compatibility kalvn is working on the latest versions :) we need to wait :)
can you close the issue?

have a nice day :)

[2018-10-18 09:54] mx4k opened #85 "Login page blank"
Good time of the day,

I followed the installation guide. After switching to the Material theme I can browse the site and the settings menu. After I log out, the login page is blank and I can't log in anymore.

Tested it in several browsers.

You can give it a try at: https://l.steinpreis.de/?do=login

[2018-10-18 13:49] nicolasdanelon commented on #85
Are you running Shaarli version 0.9.5 ?
because the theme is not compatible with the latest versions of shaarli :(

read here https://github.com/kalvn/Shaarli-Material#compatibility

feel free to close the issue if your shaarli version is greater that 0.9.5

have a nice day !

[2018-10-18 13:54] #85 closed

[2018-11-04 21:30] kalvn commented on #85
Shaarli Material v0.10.2 was [just released](https://github.com/kalvn/Shaarli-Material/releases/tag/v0.10.2).

[2018-11-04 21:30] kalvn commented on #84
Shaarli Material v0.10.2 was [just released](https://github.com/kalvn/Shaarli-Material/releases/tag/v0.10.2).

[2018-11-04 21:31] kalvn commented on #83
Shaarli Material v0.10.2 was [just released](https://github.com/kalvn/Shaarli-Material/releases/tag/v0.10.2).

[2018-11-04 21:31] kalvn commented on #81
Shaarli Material v0.10.2 was [just released](https://github.com/kalvn/Shaarli-Material/releases/tag/v0.10.2).

[2018-11-04 21:31] kalvn commented on #80
Shaarli Material v0.10.2 was [just released](https://github.com/kalvn/Shaarli-Material/releases/tag/v0.10.2).

[2018-11-04 21:32] #73 closed

[2018-11-05 14:05] immanuelfodor opened #87 "Picwall scrambled contents"
Hi, I've just updated both my Docker Shaarli and your theme, and the picwall looks like this, no thumbnails and weird contents:

![image](https://user-images.githubusercontent.com/21174107/48002251-4c8d0400-e10b-11e8-9d8d-fc07eb8c42e0.png)

If I inspect the page HTML, it seems like the images are echoed as text not in an `<img src="thumb-url" />` tag:

![image](https://user-images.githubuserconten

[2018-11-05 14:19] nicolasdanelon commented on #87
Same error here with PHP 5.6.38 and last shaarli version :(
the home page list is not working neither

[2018-11-05 14:32] immanuelfodor commented on #87
@nicolasdanelon Homepage works for me, and it even displays the thumbnails e.g. for Youtube links. Only the picwall is broken on my instance.

[2018-11-05 15:07] kalvn commented on #87
Indeed I totally forgot to adapt this page. I'll do it today.

[2018-11-05 15:14] kalvn commented on #87
Commit https://github.com/kalvn/Shaarli-Material/commit/fb6f07913523aa5a502ade7ba02463fe1e7046ca should fix the issue. I didn't tested it yet though, I'll do that tonight.

[2018-11-05 15:36] immanuelfodor commented on #87
[code]

@kalvn this commit made the page work, such colorful picwall, thank you very much for the quick fix!

[2018-11-05 15:39] immanuelfodor commented on #87
@nicolasdanelon I'm using the `shaarli/shaarli:latest` Docker image, it works there fine, maybe you should give it a try, also PHP 5.6 is EOL: https://secure.php.net/supported-versions.php  + PHP7 is much faster/memory efficient

[2018-11-05 18:15] nicolasdanelon commented on #87
@immanuelfodor thanks for your suggestion but I can't run docker or php7 in my old vps.
The thing is; the default & vintage theme works fine with my setup :) I'm just informing that the hotfix needs some review ;

[2018-11-05 18:29] kalvn commented on #87
@nicolasdanelon Can you tell me more about the error you have?

[2018-11-05 18:43] nicolasdanelon commented on #87
yes @kalvn I'm sorry
<b>Fatal error</b>:  Call to undefined function thumbnail() in <b>/home/shaarli/public_html/links/tmp/linklist.025e4ef3c23e9ff6918934cf9db5d80e.rtpl.php</b> on line <b>93</b><br />

[2018-11-05 18:54] immanuelfodor commented on #87
@nicolasdanelon you probably need to delete the contents of the tmp folder after the theme update to let the template cache build up from the new files:

[code]

[2018-11-05 18:56] nicolasdanelon commented on #87
wtf @immanuelfodor I've already do that
[code]

[2018-11-05 19:03] immanuelfodor commented on #87
These are the regenerated files or before the deletion or those you were unable to delete? :)

[2018-11-05 19:09] nicolasdanelon commented on #87
regenerated

[2018-11-05 19:13] immanuelfodor opened #88 "Permalink page broken meta tag with unwanted output"
Hi, the meta description tag's content output is not html stripped (or how it was before) and when I click on any timestamp to open just one shared link/story, the page is broken:

![screenshot_20181105-200122](https://user-images.githubusercontent.com/21174107/48020382-131dbe00-e136-11e8-8321-23b03faae58e.jpg)

In the HTML source:

![screenshot_20181105-200214](https://user-images.githubuserconte

[2018-11-05 19:16] nicolasdanelon commented on #88
and this code is commented in the home page
![Uploading Screenshot from 2018-11-05 16-15-35.png…]()

[2018-11-05 19:17] nicolasdanelon commented on #88
And this commented timestamp is only the home page

![screenshot from 2018-11-05 16-15-35](https://user-images.githubusercontent.com/2846046/48021019-36387580-e116-11e8-8649-600aff4a4b04.png)

[2018-11-05 19:32] immanuelfodor commented on #87
I also have the `linklist.025e4ef3c23e9ff6918934cf9db5d80e.rtpl.php` flle but there is nothing on the 93rd line:

![screenshot_20181105-203100](https://user-images.githubusercontent.com/21174107/48021821-ccca5e00-e139-11e8-9048-60dff9aff457.jpg)

[2018-11-05 19:35] kalvn commented on #87
That's super weird. I have the same file than you `linklist.025e4ef3c23e9ff6918934cf9db5d80e.rtpl.php` but I have nothing on line 93 and there's no calls to function `thumbnail` anywhere in the file.

[2018-11-05 19:54] kalvn commented on #88
Can you help me to reproduce?

I did pretty much as you did: create a link with a long description and with the Markdown plugin enabled. But when I check this meta tag, I don't have HTML at the beginning.

Can you tell me which plugins you use?

@nicolasdanelon This will be fixed with the next commit.

[2018-11-05 19:56] nicolasdanelon commented on #87
I do.. I have something like this:
[code]

ok, I'll reset my installation

[2018-11-05 20:00] kalvn commented on #87
It clearly looks like old code: https://github.com/kalvn/Shaarli-Material/blob/21802591701cc929e3dc69badd676ed555a48a83/material/linklist.html#L72

It looks like the new version of the theme is not properly used.

[2018-11-05 20:06] nicolasdanelon commented on #87
yeah, my bad, I had two theme installations :( haha symbolic link issues

[2018-11-05 20:25] #87 closed, assigned to nobody

[2018-11-05 21:41] plexa commented on #88
I'm facing same issue. See example -> https://lebrade.dedyn.io/?z1Q9RA . How can I assist you?

[2018-11-05 21:54] kalvn commented on #88
Do you have the same issue with default theme?

Do you use plugins listed on screenshot above?

[2018-11-05 21:58] plexa commented on #88
1. no, with default theme there is no issue!
2. 2 plugins: markdown toolbar and markdown, nothing else.

[2018-11-05 22:02] plexa commented on #88
3. the related plugin is markdown! (deactivated markdown toolbar, issue remained)

[2018-11-06 04:10] immanuelfodor commented on #88
I think PHP strip_tags is what we need here, almost the same problem and the first answer solves it for them: https://stackoverflow.com/questions/14684077/remove-all-html-tags-from-php-string

[2018-11-06 09:30] kalvn commented on #88
Okay I was able to reproduce with a fresh installation. That's indeed related to the markdown plugin that injects HTML in link descriptions. The reason why it doesn't happen on the default theme is that the *og* tags are completely skipped, not sure why. I'll open an issue on Shaarli repo to investigate.

`stip_tags` should indeed solve the issue. I'll do a commit today.

[2018-11-06 19:33] kalvn commented on #88
There you go @immanuelfodor https://github.com/kalvn/Shaarli-Material/commit/21c05a31c6af3f5b3e1800743a03bd4a66b3542a

[2018-11-06 19:33] #88 closed

[2018-11-07 03:52] immanuelfodor commented on #88
Wonderful, now works without problem, thank you!

[2018-11-08 15:09] Nebucatnetzer opened #89 "Thank you"
Just wanted to say thank you for the great theme.
It looks really nice and works well on both mobile and normal computers.
IMO it should be the default theme of Shaarli.

The installation worked without a problem.

[2018-11-09 10:36] kalvn commented on #89
Thanks a lot! That's really great to see that what I do is helpful and appreciated :)

[2018-11-09 13:06] rudeyak commented on #89
It is!!

[2018-11-09 13:30] nicolasdanelon commented on #89
I love this theme too, you already know that :P

[2018-11-09 15:21] kalvn commented on #89
I do :P

Thanks!

[2018-11-10 05:39] Nebucatnetzer commented on #89
@kalvn it's the least I could do :)

[2018-11-16 15:01] joshp23 commented on #85
this is appending to me, I have correct versions set up, using 0.10.2

[2018-11-16 16:11] kalvn commented on #85
@joshp23 Are you using Shaarli v0.10.2 as well? It looks like your Shaarli is outdated.

[2018-11-16 16:55] joshp23 commented on #85
Well, I thought I was! I installed shaarli form `stable`. I started over, installing from `latest` and everything is fine. :)

[2018-12-07 20:38] Arrappathor commented on #89
Indeed, thank you very much for this clean and beautiful theme. It is a pleasure.

[2019-01-11 19:45] 14ngr15t opened #90 "PHP Error on Shaarli 10.2"
Installed your theme 10.2-patch2 and it works fine except on the permalink page I see this error at the top:

( ! ) Notice: Undefined variable: index_url in E:\Ampps\www\shaarli\tmp\includes.c04e6db3e3da5484d981ebaa00b75abc.rtpl.php on line 24 Call Stack #TimeMemoryFunctionLocation 10.0088722632{main}( )...\index.php:0 20.06303061336renderPage( )...\index.php:1866 30.06443108864showLinkList( )...\

[2019-01-12 09:43] kalvn commented on #90
What version of Shaarli do you use? Do you have the same problem with the default theme?

[2019-01-12 20:36] 14ngr15t commented on #90
Latest version (10.2) of Shaarli.  The default theme works fine with no errors.  It's just on this theme.  Thanks!

[2019-01-12 22:05] kalvn commented on #90
Thanks for the details. I was able to reproduce and fix the issue. You'll find the fix in [v0.10.2-patch.3](https://github.com/kalvn/Shaarli-Material/releases/tag/v0.10.2-patch.3).

Please let me know if it fine for you.

[2019-01-21 16:32] kalvn commented on #90
@14ngr15t did you managed to find out what was the issue?

[2019-01-21 16:35] kalvn opened #91 "Improve search overlay"
The search overlay is not optimal as the auto-complete dropdown hides buttons. And there is no quick and easy way to hit the *Filter by tag* button without using the mouse.

I'd like to rethink this component and improve its usability. Ideas are welcome :)

[2019-01-21 19:42] 14ngr15t commented on #90
Unfortunately not.  I tried a fresh install like you said, and the same
thing happened.  I have just been using the default theme.

Thanks for the help, not sure what else to do!

On Mon, Jan 21, 2019 at 8:32 AM kalvn <notifications@github.com> wrote:

[2019-01-21 19:50] kalvn commented on #90
That's unfortunate :(

I'll keep investigating and let you know if I find something.

[2019-01-21 23:42] 14ngr15t commented on #90
Thank you so much!

On Mon, Jan 21, 2019 at 11:50 AM kalvn <notifications@github.com> wrote:

[2019-01-25 11:37] iGormilhit commented on #90
I encounter the same issue as soon as I set material as a theme:

[:error] [pid 3617] [client 46.229.168.136:59278] PHP Fatal error:  Uncaught Error: Call to undefined function thumbnail() in /var/www/shaarli/tmp/linklist.aeadca0864f49f08401fb0f97c162898.rtpl.php:93\nStack trace:\n#0 /var/www/shaarli/inc/rain.tpl.class.php(175): include()\n#1 /var/www/shaarli/application/PageBuilder.php(188): Rain

[2019-01-25 12:34] kalvn commented on #90
Thanks for the additional info, I'll keep investigating.

[2019-01-25 12:44] kalvn commented on #90
@iGormilhit your error is really weird, there's not even a call to a function `thumbnail` in linklist template. At least not since the migration from v0.9 to v0.10.

Can you try to remove all files in directory `/var/www/shaarli/tmp/`?

[2019-01-25 12:49] iGormilhit commented on #90
@kalvn Ok. I did remove everything in `/var/www/shaarli/tmp` and still...:

[Fri Jan 25 13:47:35.790719 2019] [:error] [pid 4855] [client 85.195.214.254:47812] PHP Fatal error:  Uncaught Error: Call to undefined function thumbnail() in /var/www/shaarli/tmp/linklist.aeadca0864f49f08401fb0f97c162898.rtpl.php:93\nStack trace:\n#0 /var/www/shaarli/inc/rain.tpl.class.php(175): include()\n#1 /var/www/sh

[2019-01-25 12:49] iGormilhit commented on #90
I can add that I've jumped some shaarli versions... Maybe I should make a fresh install.

[2019-01-25 12:54] iGormilhit commented on #90
@kalvn My bad. I deleted the `/var/www/shaarli/tpl/material` directory and reinstalled the material theme and I don't get the error message anymore. Sorry... :worried:

[2019-01-25 13:01] kalvn commented on #90
No problem @iGormilhit I'm glad it works now :)

[2019-01-26 21:33] 14ngr15t commented on #90
I'll test deleting that too and reinstalling the theme.  I am on a fresh
install of the latest version of Shaarli, not an upgrade.

Thanks for all the help!

On Fri, Jan 25, 2019 at 5:01 AM kalvn <notifications@github.com> wrote:

[2019-02-24 15:01] kalvn commented on #90
@14ngr15t Is it ok if I close this issue now?

[2019-03-10 14:31] #90 closed

[2019-04-17 11:19] kalvn commented on #91
I consider that last release v0.10.4 improves the search field pretty well.

[2019-04-17 11:19] #91 closed

[2019-06-15 23:05] gerroon opened #92 "Expand/Fold button?"
Hi

Where is the expand/fold button that is used to expand or collapse long entries? The default theme has it per page and per entry, it looks like a small pyramid icon.

thanks

[2019-06-18 21:18] kalvn commented on #92
Hello,

This theme doesn't have this feature. I personally find it pretty useless. But if you think that's something which could be interesting, I'll consider the point.

_Everyone_, feel free to add a thumbs up to this issue if you want that feature too.

[2019-06-18 23:23] gerroon commented on #92
Hi

Well it is helpful with long entries for sure.

[2019-06-30 11:56] msone opened #93 "Error on Tag Page"
I am using Shaarli v0.10.4 with the current material theme. If a tag with a # in front of it is used, there is an error message: "**Notice: Undefined index: thumbnail in include...rtpl.php on line 27**".

Here is the error message: https://imgur.com/a/ifXEWv4
And here is the line 27: https://imgur.com/a/qTIpcsx

Thumbnails are disabled in the settings.

[2019-06-30 20:11] kalvn commented on #93
Thanks for the finding! Commit https://github.com/kalvn/Shaarli-Material/commit/84e6d1189ca723793a9190cc70e0a92c853d1175 should fix the issue.

[2019-07-19 21:12] #93 closed

[2019-10-14 21:15] NicolasBrosse commented on #89
Love it too.
Thank you.

[2019-10-21 17:32] immanuelfodor opened #94 "Shaarli v0.11.X support"
Hi, thanks for this wonderful theme, been using it since day 1.  Any chance supporting the new namespaced 0.11 line in the near future? I don't want to upgrade until I'm not sure if it will work, and it's also holding back two of my plugins from update since I'm only migrating after your theme is fully compatible with upstream (sorry for the push 😃).

[2019-10-21 17:33] immanuelfodor commented on #94
Oh, I've just seen the other branch: https://github.com/kalvn/Shaarli-Material/tree/support-v011 but it was not merged, so I suppose it's not yet ready.

[2019-10-22 16:05] kalvn commented on #94
I actually didn't work on it for a while. This branch only brings the additional actions when you select several links so even without, the master branch of the theme should work pretty well with Shaarli v0.11.X. The theme contains no PHP code so namespaces shouldn't be an issue.

[2019-10-25 11:29] immanuelfodor commented on #94
Thank you, it's indeed working fine! :)

[2019-10-25 11:29] #94 closed

[2020-03-18 05:23] immanuelfodor opened #95 "Unable to login with latest Shaarli"
Hi @kalvn,

I've updated my Shaarli to the latest master commit, and it seems somewhere along the months passed by, there is something that broke your superb theme :(

[code]

The theme displays "You have been banned after too many failed login attempts. Try again later." but there is no ipbans.php at all, and I can see the above PHP log in Docker. The Shaarlier Android app also can't login becaus

[2020-03-18 14:32] kalvn commented on #95
It's been a while I didn't work on it, and you're right, there was an update of the login page template in January on Shaarli. I'll try to work on a fix this week. In the meantime, I recommend sticking to v0.11.1 of Shaarli instead of the last master.

[2020-03-18 14:43] immanuelfodor commented on #95
Thank you! Yes, I reverted back to my previous working docker image after the rebuild.

[2020-04-08 12:37] immanuelfodor commented on #95
Hi @kalvn , I've seen the new release, and I'd like to know if it contains a fix to this issue as well?
https://github.com/kalvn/Shaarli-Material/releases/tag/v0.11.0

[2020-04-08 13:08] kalvn commented on #95
Hello @immanuelfodor , no it doesn't, because version 0.11.0 of Shaarli didn't have the issue.

But I'm now working on catching up with latest commits on master of Shaarli so the last commits on **dev** branch do fix the issue. Though I suggest to wait that I merge dev branch into master so that you get all updates and possible fixes at once.

[2020-04-08 14:23] immanuelfodor commented on #95
Okay, thanks!

[2020-04-08 19:04] kalvn commented on #95
I just merged my dev branch with master. Feel free to use the master branch now. It may not be perfectly stable though.

[2020-04-08 19:04] #95 closed

[2020-04-08 19:05] kalvn commented on #89
I'll close it now in order to clean things up a bit, but thanks a lot for the support once again :)

[2020-04-08 19:05] #89 closed

[2020-04-09 03:32] immanuelfodor commented on #95
Thank you, I can confirm now it works fine with the latest master; which is https://github.com/shaarli/Shaarli/commit/810f0f6c96b6d26e22164027185c5996b425816c as of now.

[2020-04-09 04:38] immanuelfodor opened #104 "Large pictures overflow in mobile view"
Hi, I've noticed a small bug after updating to the latest version in #95. It might have been present before, I just noticed it now.

When an image is inserted as a markdown image (`![title](link)`), if the image is wider than the card, it's overflowing to the right.

It would be nice to resize the image to the card's inner width by maintaining the aspect ratio.

![Screenshot_20200409-063307](https

[2020-04-09 04:49] immanuelfodor opened #105 "The tags list is truncated on mobile"
Hi, this issue is present for a while, I can/could live with it, but would be nice to fix it.

In the mobile view, when there are more tags on a card than space to display all of them, the tag list is truncated by showing 3 dots (...) instead of the remaining tags. However, the tag list is also scrollable, as if there are more tags to display but these are hidden.

Here is a screenshot video of th

[2020-04-09 06:58] immanuelfodor opened #106 "Revert some CSS changes?"
Hi, I bumped into another issue, it seems there are some CSS changes regarding the card content, is there a way to get them back to the previous state, or at least fix some of the current ones?

I'm testing with this text:

[code]

It looks like this now:

![image](https://user-images.githubusercontent.com/21174107/78866363-8cae8f80-7a3f-11ea-85ff-e727b9ab4130.png)

The hX headers changed their si

[2020-04-09 18:53] kalvn commented on #105
What browser are you using? I tried with a Chromium based one + with Firefox, both on Android, and it works fine.

[2020-04-09 19:01] kalvn commented on #106
https://github.com/kalvn/Shaarli-Material/commit/20ddcf2f126b84c6c8aeb1805728f12c373fc9ca should do the trick :)

[2020-04-09 19:02] kalvn commented on #104
There you go https://github.com/kalvn/Shaarli-Material/commit/42561fc1b1aeb5d1b754cd735888f0c7678c2492

[2020-04-10 03:07] immanuelfodor commented on #105
It's Brave which is also Chromium based. Tried deleting the cache, but it didn't help.

(Checked with FF as well, it's fine there, the extra tags are displayed upon scrolling the list.)

[2020-04-10 03:17] immanuelfodor commented on #106
Perfect, looks great now, thanks!

[2020-04-10 03:17] #106 closed

[2020-04-10 03:18] immanuelfodor commented on #104
Thank you for this fix as well, it looks good!

[2020-04-10 03:18] #104 closed

[2020-04-10 12:34] kalvn commented on #105
I think I found a suitable solution that doesn't affect too much the display, only if a link has a high number of tags. They now distribute on several line if there's not enough space.

![image](https://user-images.githubusercontent.com/6149640/78990948-075ad600-7b38-11ea-9668-255b43616a67.png)

[2020-04-10 14:15] immanuelfodor commented on #105
This could definitely boost tag navigation, I usually have 6-10 tags, but no more than your example.
I think it's better to have it than to only have access to 3-4 like before.

[2020-04-11 22:11] paulgit opened #107 "Search pop-up not working in v0.11.0"
I just upgraded to the latest theme and the search pop dialog is not working. This can be seen at [Paul Git's Links](https://links.paulg.it/?).

I have tried Safari, Firefox and Brave and each browser exhibits the same issue so I can only think it's an issue with my server setup. Do you have any ideas on where I can start to look?

[2020-04-13 12:11] kalvn commented on #107
Hi @paulgit , I had a look at your server but it seems to be broken. Can you put it back online first? I had a quick look earlier and it seemed like the whole JavaScript was broken but I could investigate yet.

[2020-04-13 12:12] kalvn commented on #105
Ok it's merged into master, I close the ticket then.

[2020-04-13 12:12] #105 closed

[2020-04-13 13:41] immanuelfodor commented on #105
Awesome, the update looks fantastic, thank you!

[2020-04-13 19:50] paulgit commented on #107
Hi @kalvn , thanks for your reply. I should have closed this ticket because I decided to use the Bookmarking app in Nextcloud instead.

[2020-04-13 19:50] #107 closed

[2020-04-26 13:20] citizenspress opened #108 "login link incorrect"
(for version 11.0)

The link is wrong in the index file that is generated which means when logged-out does nothing. The link should be ```/?do=login``` and not just ```/login```

I am unsure how to fix this.

[code]

[2020-04-26 13:37] citizenspress commented on #108
All I had to do is edit (anything) on the page.header.html and it corrected itself.
I am unsure what the problem was.

[2020-04-26 13:37] #108 closed

[2020-05-10 17:43] lonix1 opened #109 "[Question] Dark mode"
Is there a dark mode option?

[2020-05-11 04:31] lonix1 opened #110 "[Question] Docker installation"
What is the best way to install this theme, when using dockerised shaarli?

[2020-05-11 10:03] lonix1 commented on #110
https://github.com/shaarli/Shaarli/issues/1372

[2020-05-11 10:03] #110 closed

[2020-05-11 10:15] kalvn commented on #109
Not yet, but that's something I'll consider, thanks for the idea!

[2020-05-11 11:06] lonix1 commented on #109
BTW Your theme is really good. Makes the app so much more fun to use.

I also noticed there are non-UI things as well - like extra config options that weren't there before.

Thanks!

[2020-05-11 14:27] kalvn commented on #109
Thank you! :)

[2020-05-23 12:00] dajare opened #111 "user.css cannot modify plugins.css because loaded too early"
I have been using Shaarli-Material for a few years now, but just today attempted to modify the css for the `blockquote` element in a link/note description.

The rules for this in my case are found in `/plugins/markdown/markdown.css` (since I have Markdown enabled for descriptions), but when I added a rule for this specifying `.markdown blockquote {}` in my user.css ... nothing happened.

I noted t

[2020-05-24 07:18] immanuelfodor opened #112 "[Feature request] Shaarli as a PWA (service workers)"
Hi @kalvn,

I've just bumped into Unmark (https://github.com/cdevroe/unmark) and it sounds like an awesome feature to be able to install it as an "app" through service workers. Not only you can use it like an app for browsing content, but also you can share content "into the installed app". There is a demo in the middle of this page: https://www.notion.so/Unmark-Help-How-to-add-bookmarks-cd5893f11

[2020-05-26 16:13] bdeshi opened #113 "align public and private link titles"
hi, can you consider removing the `margin-left` [here](https://github.com/kalvn/Shaarli-Material/blob/d437fbed87c03bc1117104943dc79bb0033534e1/src/scss/components/_page-linklist.scss#L72) and moving the private link bg image a bit (like in the image below) so that the public and private link titles are aligned?

![image](https://user-images.githubusercontent.com/3525376/82924423-20abca80-9f9e-11ea

[2020-06-07 20:53] kalvn commented on #111
You are fully right! I just published a fix on the dev branch to ensure that `user.css` always has precedence on plugins CSS files. It'll be included in the next release.

[2020-06-07 20:53] #111 closed

[2020-06-07 21:12] kalvn commented on #112
It looks like a good idea, I'll take a look at the documentation about sharing data with a PWA.

[2020-06-07 21:13] kalvn commented on #113
I'll see what I can do :)

[2020-07-14 11:17] Ezyweb-uk opened #114 "Grid listing layout [Feature Request]"
Shaarli-Material is the cleanest template IMHO that I've found. It would be great if there was a configurable option to display the listing in a grid layout.

[2020-08-30 08:20] immanuelfodor opened #115 "Compatibility with Shaarli v0.12.0-beta"
Hi @kalvn,

According to https://github.com/shaarli/Shaarli/pull/1511 we need to check and maybe update our plugins and themes to stay compatible with the changes in Shaarli's routing and templating. After upgrading Shaarli to latest master, nothing is displayed on the UI, a blank page is shown as the Material theme is not yet updated. Could you please look into the changes and fix the new errors

[2020-08-30 09:57] kalvn commented on #115
Hi @immanuelfodor,
Yes I definitely need to take some time to update the theme, I'll try to take a look either today or during the coming week, at least to make it work with the latest master from Shaarli. I'll keep you updated :)

[2020-08-30 09:59] kalvn commented on #114
Hi @Ezyweb-uk, that's not a bad idea but that's somehow what the _Daily_ page is made for.
I'll think about how I could propose such an option in a light and clean way.

[2020-08-31 10:52] ArthurHoaro commented on #115
@kalvn Let me know if I can help.

[2020-08-31 21:24] kalvn commented on #115
@ArthurHoaro thanks! Actually I have a question: do you know if there's a way to retrieve the current URL path (`$_SERVER['REQUEST_URI']`) from templates?

I tried to access the `$_SERVER` variable from within templates but it cause errors (on contrary to `$_GET` which works fine). I need this to highlight current page in the `tag.sort.html` file.

[2020-09-01 09:15] ArthurHoaro commented on #115
It's not exactly what you asked for, but you could use `{$_PAGE_}` which could fit your use case and are also used by plugins. However I need to fix an unnecessary breaking change in these values, as mentioned in the other thread.

[2020-09-01 20:39] kalvn commented on #115
The branch **support-v012** was just finalized. I tested it pretty intensively with Shaarli v0.12.0-beta and found no issues so far. I didn't create a release yet but if anyone wants to do some test on his side, I would greatly appreciate :)

I'll keep testing for a few days on my own and release it when Shaarli v0.12.0 is released.

[2020-09-02 03:02] immanuelfodor commented on #115
Did a git checkout to the new branch, works fine, looks awesome 🎉

However, I can't login at all after a logout. It seems to be a general Shaarli issue @ArthurHoaro on the master branch as the docker image was built from scratch. Deleted ipbans file, did a browser cache delete, used a different browser, nothing helped.

[2020-09-02 03:08] immanuelfodor commented on #115
I can't login even with the default template, this is an important info I think. The login redirect seems to be weird:

[code]

[2020-09-02 03:14] immanuelfodor commented on #115
Maybe https://github.com/shaarli/Shaarli/pull/1536 needs to be merged quick 😃

[2020-09-02 03:24] immanuelfodor commented on #115
When editing a share on mobile, the FAB is shown and it is out of place:

![Screenshot_20200902-052149](https://user-images.githubusercontent.com/21174107/91928462-63d3b300-ecdc-11ea-9013-842cbef95aa0.jpg)

[2020-09-03 06:37] ArthurHoaro commented on #115
@immanuelfodor I merged shaarli/Shaarli#1536, it should fix the issue you had previously.

[2020-09-03 06:38] ArthurHoaro commented on #115
@kalvn Awesome! You rule!

[2020-09-03 10:11] kalvn commented on #115
@immanuelfodor I found the responsible line: https://github.com/kalvn/Shaarli-Material/blob/support-v012/material/page.header.html#L173

I'll fix that asap :)

[2020-09-05 13:08] kalvn commented on #115
It's fixed with the last commit.

[2020-09-05 13:57] kalvn commented on #113
The change will be part of the next release v0.12.0 ;)

[2020-09-05 14:03] kalvn commented on #112
Unfortunately, the `manifest.webmanifest` file [must be at the root of your web server](https://web.dev/add-manifest/#create). It makes it impossible to handle the PWA thing in Shaarli Material.

But you can still propose the idea to the Shaarli team.

[2020-09-05 14:03] #112 closed

[2020-09-05 14:40] immanuelfodor commented on #115
Tested with the latest support-v012 branch, it's fixed, thanks! :)

[2020-09-05 14:50] immanuelfodor commented on #115
Hmm, I think I've found another bug: the CSS/JS resources are loaded without `/` at the beginning of the URL, so it becomes `/admin/shaare/plugins/markdown_toolbar/includes/bootstrap_markdown/js/bootstrap-markdown.js` for example which breaks the edit/add page resources as these are now requested from a folder too deep:

![image](https://user-images.githubusercontent.com/21174107/92307586-c2788580

[2020-09-05 14:54] immanuelfodor commented on #115
Or maybe Shaarli:master introduced a change that results in `PluginManager::$PLUGINS_PATH` becoming "shash-less"? 😀 @ArthurHoaro

[2020-09-05 15:00] kalvn commented on #115
I think it's not related to Shaarli Material.

I would say plugin developers must ensure external resources are added with the base path, as it's done here for example: https://github.com/kalvn/shaarli2mastodon/blob/master/shaarli2mastodon.php#L75

[2020-09-05 15:02] immanuelfodor commented on #115
Wow, thanks for the example, I'm adding this to my plugins. Sorry for suspecting a bug here.

[2020-09-05 15:08] kalvn commented on #115
Thanks but credit goes to https://github.com/shaarli/Shaarli/blob/master/plugins/wallabag/wallabag.php#L48 😉

[2020-09-05 15:25] ArthurHoaro commented on #115
Just to give a little more info about *why*:

   - we don't know if Shaarli is installed under a subfolder or not, so we can't use `'/' . PluginManager::$PLUGINS_PATH`
   - before `v0.12` every route were on the same folder level (`domain.tld/shaarli/?do=route`), so relative path worked fine. Now routes can be on multiple levels (e.g. `/daily` and `/admin/*` routes), so it requires to manually set

[2020-09-05 15:46] immanuelfodor commented on #115
Thanks for the insights! Based on this knowledge I also opened a shaarli-favicons PR to fix the same issue, shaaring is caring :) https://github.com/trailjeep/shaarli-favicons/pull/3

[2020-09-05 16:06] immanuelfodor commented on #112
Thank you very much for the research time, I've opened a new Shaarli issue: https://github.com/shaarli/Shaarli/issues/1544

[2020-09-25 12:09] immanuelfodor commented on #115
https://github.com/shaarli/Shaarli/pull/1558 happened in the meantime, so I'll also revert any related changes. @kalvn said in https://github.com/shaarli/Shaarli/issues/1548#issuecomment-691662186 that Shaarli Material has been also updated accordingly, so I think this ticket can be closed finally.

[2020-09-28 05:22] immanuelfodor commented on #115
Updated all my plugins, they now work according to PR https://github.com/shaarli/Shaarli/pull/1558 Also https://github.com/shaarli/Shaarli/issues/1545 works fine with the theme. I think the `support-v012` branch here can be also closed, it's up-to-date with master. Thank you all for being supportive over the years! ❤️

[2020-09-28 05:22] #115 closed

[2020-10-13 13:31] rudeyak opened #116 "0.12.0 styles/scripts 404"
With the new release, shaarli running in a subdirectory (https://my.doma.in/Sha12/.......) I get 404 errors for styles.min.css and scripts.min.js, e.g.

https://my.doma.in/Sha12/tpl/material/dist/styles.min.css?v=85a1f6706320a0d7e17e6a159873fbd3e4b00ae0c3c15f1170669a2d0aeface6

[code]

[2020-10-15 18:36] kalvn commented on #116
I think you have to update this settings in Shaarli configuration:

![image](https://user-images.githubusercontent.com/6149640/96172013-0b701200-0f26-11eb-9509-6761c24d0c80.png)

Do you have the same issue with the default theme?

[2020-10-15 19:27] rudeyak commented on #116
Hmmm. No, default and vintage themes work OK (with `header_link` set to `"\/Sha12\/"` under `general:` in the config). The installer _seemed_ to point to the right URL as of 0.12.0.

[2020-11-13 05:00] immanuelfodor opened #117 "I've lost my FAB"
Hi, somewhere at or after the latest rewrite, my FAB button got lost, and I haven't found it since then. It's not in the DOM, so I don't think it's being blocked by a plugin. I've added a pinned post in my Shaarli to link to the Add Shaare form, this is how I circumvented this issue so far to be able to add new links from the web. Could you please check where did the FAB go? 😃

[2020-11-13 05:08] immanuelfodor opened #118 "Undefined variable: _PAGE_"
Hi, my Shaarli master latest container logs are containing many of the following lines, it looks like something is not present in the header template that is being used. Maybe related to #117? I know you do some checks to avoid displaying the FAB on the add form, for example, but it's just a guess.

`2020/11/13 04:53:51 [error] 11#11: *44 FastCGI sent in stderr: "PHP message: PHP Notice:  Undefine

[2020-11-17 20:55] dajare opened #119 "Problems with Shaarli v. 0.12.1"
I've been using Material for a long time now with a particular Shaarli instance (beginning around v. 0.9, I think). I've been keeping things up-to-date, though, and today upgraded my Shaarli's to 0.12.1 (from 0.11.1). With the default template, everything is fine. With Material (latest!), however, I get this error message:

[code]

I have read through the "Compatibility with Shaarli v0.12.0-beta"

[2020-11-27 23:33] stoebern commented on #119
Exactly the same situation here. Thank you for any hint as where to go now.
Salutations

[2020-11-28 09:05] dajare commented on #119
I rolled back to 0.11.1 Shaarli on the instance that I use with Material. Hopefully we can work out (or Kalvn can! 😬) how to get this working with 0.12.1.

[2020-11-28 12:53] kalvn commented on #119
I didn't have enough time to start working on v0.12.1 (which seems to be massive) compatibility but I'll try to do that soon!

[2020-11-28 13:10] dajare commented on #119
Grateful for that! I've actually had a look a few times at trying to create a "minimalist" theme for Shaarli (something I've done with my CMS of choice quite few times over the years). It looks anything but easy with Shaarli, and all the trickier if a point-upgrade brings so many changes! So thanks for keeping Material up-to-date.

[2020-11-28 13:50] immanuelfodor commented on #119
Many projects treat the 0th major release as unstable where even point releases can break things, and maintainers don't guarantee compatibility with earlier releases, so while this is being annoying, this is how the world works. Shaarli is about to get its 1st major release in some time, then point releases shouldn't break so many things: https://github.com/shaarli/Shaarli/issues/1640

[2020-11-28 13:58] kalvn commented on #118
Hi @immanuelfodor, it is a variable I use to know what is the current page so that I don't display the *add link* button if it doesn't make sense.

@ArthurHoaro any idea how I could now do to detect current page identifier from within templates?

[2020-11-28 14:01] kalvn commented on #117
If by FAB button you mean the button to add new links, yes, it's related to issue #118

I just need to get an alternative from Shaarli dev team and I'll publish a fix.

[2020-11-28 14:02] #113 closed

[2020-11-28 14:14] kalvn commented on #119
I just published v0.12.0 https://github.com/kalvn/Shaarli-Material/releases/tag/v0.12.0 which should solve that problem.

Working on v0.12.1 now :)

[2020-11-28 14:18] kalvn commented on #116
What version of Shaarli Material are you using? I just released v0.12.0, can you please give a try with this one?

[2020-11-28 14:24] immanuelfodor commented on #117
Yup, it's the Floating Action Button aka. FAB: https://material.io/components/buttons-floating-action-button :)

Thank you!

[2020-11-28 14:39] immanuelfodor opened #120 "Description and title is not extracted from shared links"
Moved here from the main Shaarli repo: https://github.com/shaarli/Shaarli/issues/1653

It seems to be a Material theme issue, working fine with the default theme:

![image](https://user-images.githubusercontent.com/21174107/100518084-a26bf300-318f-11eb-82c9-7c5ff876895d.png)

![image](https://user-images.githubusercontent.com/21174107/100518099-b4e62c80-318f-11eb-8d57-7c14126dcad2.png)

 kalvn com

[2020-11-28 14:46] kalvn commented on #120
Thanks for re-opening!

I just noticed that there's now a setting to stick to the regular sync metadata retrieving.

In your `data/config.json.php` file you can put `enable_async_metadata` to `false`, at least until I adapt the theme.

[2020-11-28 15:05] immanuelfodor commented on #120
Well, I indeed have it on `true` but `false` is even worse :D

![image](https://user-images.githubusercontent.com/21174107/100518632-ff1cdd00-3192-11eb-9e87-21b5bde9de52.png)

![image](https://user-images.githubusercontent.com/21174107/100518615-e14f7800-3192-11eb-8704-9c6a4acad2f7.png)

This is what I get after clicking the add link button.

[code]

Maybe I should reopen that issue for Arthur.

[2020-11-28 15:37] stoebern commented on #119
Thank you very much. I'm only in this situation because I like your work so much. So thank you for sharing it!

[2020-11-28 16:32] rudeyak commented on #116
Just tried with 0.12.0 (and shaarli 0.12.1), no errors! 🥳

[2020-11-29 13:32] #116 closed

[2020-12-06 13:27] pascollin commented on #119
This theme is great ! But, when using it with shaarli v0.12.1, the red "plus" button is missing (the button used to add new links)

[2020-12-06 14:19] immanuelfodor commented on #119
You can follow this issue here @pascollin : https://github.com/kalvn/Shaarli-Material/issues/117

[2020-12-16 13:12] ArthurHoaro commented on #120
You should be able to use Shaarli's `assets/common/js/metadata.js` with no or only minor changes if you want to support this feature.

[2020-12-16 14:50] ArthurHoaro commented on #118
Ah ah, this was a bug not a feature: shaarli/Shaarli#1551

More seriously, this variable was injected by the plugins manager and wasn't designed to be used in theme. So with a better code division, it's no longer accessible.

I can inject the template name (= filename) in the rendering function, so it would be accessible in included template files. It would be effective in the next release. Would

[2020-12-17 21:22] Cristophe opened #121 "French version for The Daily Shaarli"
There is no french translation for:

- The Daily Shaarli  (must be "Le Quotidien Shaarli")
- All links of one day in a single page. ("Tous les liens d'un jour sur une page.")
- Previous day  ("jour précédent")
- Next day  ("jour suivant")

[2020-12-20 21:22] kalvn commented on #118
I found an alternative which is creating myself a variable in each template containing its name (example: https://github.com/kalvn/Shaarli-Material/blob/support-v012/material/linklist.html#L4).

So what you propose would totally work for me but if you prefer not to do it, I'm fine too :)

[2020-12-31 10:00] pascollin commented on #117
In page.header.html $_PAGE variable seems empty
_{$displayAddNewLinkIcon=(($is_logged_in || $openshaarli) && in_array($_PAGE_, array('linklist', 'tools', 'tag.cloud', 'tag.list', 'picwall', 'daily')))}_
Dirty workaround : replace this line by the following :
_{$displayAddNewLinkIcon=(($is_logged_in || $openshaarli))}_
Now the button is displayed on all pages when logged in.

[2020-12-31 10:06] immanuelfodor commented on #117
It was previously fixed here, so this workaround is like a revert: https://github.com/kalvn/Shaarli-Material/issues/115#issuecomment-685266681

[2020-12-31 14:12] immanuelfodor commented on #117
I've rebuilt my Shaarli using the `support-v012` branch, and now the FAB is working again just as before. Thank you for the unnoticed changes in November :)

[2020-12-31 14:12] #117 closed

[2020-12-31 14:13] immanuelfodor commented on #118
I've rebuilt my Shaarli using the `support-v012` branch, and now the PAGE related errors are gone. Thank you for the unnoticed changes in November :)

[2020-12-31 14:13] #118 closed

[2020-12-31 14:15] immanuelfodor commented on #119
I've rebuilt my Shaarli using the `support-v012` branch, and now all my previously observed issues are gone. There were some unnoticed changes on that branch in November, I suggest you all to try it :) Happy new year to everyone! :tada:

[2020-12-31 14:19] immanuelfodor commented on #120
I've rebuilt my Shaarli using the `support-v012` branch, and I've seen that there is a new addition to the JS file regarding the metadata retrieval: https://github.com/kalvn/Shaarli-Material/compare/support-v012

However, title and description are still not loaded with `"retrieve_description": true, "enable_async_metadata": true`.

[2020-12-31 14:26] immanuelfodor opened #122 "Broken picture wall"
I've rebuilt my Shaarli using the `support-v012` branch, and although many issues are now solved, I've bumped into a new one.

The picture wall contains broken images as the following URL is being tried to load which is obviously 404: https://shaarli.local/$%7Broot_path%7D/cache/thumb/14ad5266c72782bdc806364df4516335/7fb84dc39d194b47d128e9270664f2ca05d881ae125801.jpg

![image](https://user-images.

[2020-12-31 14:33] immanuelfodor opened #123 "An always-404 tag pill appears upon search"
I've rebuilt my Shaarli using the `support-v012` branch, and although many issues are now solved, I've bumped into a new one. To be honest, I think this bug was also present before but since I've tested my Shaarli for bugs now, I've found it.

Upon search for tags, an extra empty pill is appended to the list which is always pointing to a 404 page:

![image](https://user-images.githubusercontent.co

[2020-12-31 17:15] ArthurHoaro commented on #122
`${root_path}` -> `{$root_path}`, I have made this mistake a few times.

[2021-01-01 11:02] dajare commented on #119
Thanks for the pointer, @immanuelfodor — but I can't [identify any branch with that name](https://github.com/shaarli/Shaarli/branches/all). Has it been erased? or is the name not quite right? or am I looking in the wrong place?

Ditto! 👍

[2021-01-04 19:26] immanuelfodor opened #124 "Missing template for /admin/server"
Visiting the `/admin/server` page results in the following error:

[code]

This page is reasonably new in Shaarli.

[2021-01-04 19:31] immanuelfodor opened #125 "Remove the v prefix from the Shaarli version in the footer"
The v prefix in the footer in front of the Shaarli version looks veird on the master branch build (vdev) and also violates the Semver scheme as it only consists of the X.X.X numbers.

The default Shaarli template also doesn't have the v prefix there, please delete it :)

[2021-01-04 19:33] immanuelfodor commented on #125
Mildly related to https://github.com/kalvn/Shaarli-Material/issues/124 as the server version is displayed there, too (not yet in Material).

[2021-01-05 17:04] Draky50110 opened #126 "Undefined variable for 0.12.1"
Hello.

Little message in header :
` Notice: Undefined variable: _PAGE_ in /home/XXXX/links/tmp/page.header.c04e6db3e3da5484d981ebaa00b75abc.rtpl.php on line 2`

Any clue ?
Thanks.

[2021-01-09 09:32] kalvn commented on #124
This is normal, I didn't build the page yet. I'm quite late compared to Shaarli, I'll take some time to work on catching up soon.

[2021-01-09 09:36] kalvn commented on #125
I'm not sure to agree with this point.

It doesn't violates the Semver scheme from my point of view. I don't consider the **v** is part of the version number itself. I just use it as a marker to indicate that what follows is the version number (even though it might seem obvious).

Of course **vdev** looks weird but it's initially not intended to appear on a production version. I agree that it's an

[2021-01-09 09:37] kalvn commented on #126
Shaarli Material is not yet ready for Shaarli v0.12.1 as stated in the README.md file. Nevertheless, you can use the last commit of the support-v012 branch, it should fix this particular issue.

[2021-01-09 09:37] #126 closed

[2021-01-09 11:37] immanuelfodor commented on #125
I see, thanks for the thought behind it! I can completely accept it if you're optimizing for the latest release and not the master branch.

(However, sooner or later we will even have **va38d25**, **v12abcd**, and so on versions on the master branch, those will be fun 😃 https://github.com/shaarli/Shaarli/issues/1676 )

As a last resort, one can delete the `v` prefix from the footer when building a

[2021-01-11 08:23] kalvn commented on #124
The page is available now on the support-v012 branch :)

[2021-01-11 16:21] kalvn commented on #122
That was a tricky one, thanks for the notice :D

https://github.com/kalvn/Shaarli-Material/commit/491a3f39c33a95ab02b48d3a082da3d42e332183 fixes it.

[2021-01-11 16:21] #122 closed

[2021-01-12 04:03] immanuelfodor commented on #122
Thank you, it's perfect now.

[2021-01-12 04:06] immanuelfodor commented on #124
Wow, it looks great, nice job with the build!

[2021-01-12 04:06] #124 closed

[2021-01-16 22:46] kalvn commented on #123
This will be fixed with v0.12.1.

[2021-01-17 06:18] immanuelfodor opened #128 "Update the build instructions to match the new version"
Please update the build instructions (https://github.com/kalvn/Shaarli-Material/tree/support-v012#build-for-production) as it seems outdated since https://github.com/kalvn/Shaarli-Material/commit/da29c7c0e5db2e8a70a781fbc93b58ff10757d3b

At first, I was not aware of the change, so I tried to install the missing gulp locally but then it said no gulpfile, so I checked the commits, and it seems there

[2021-01-17 06:29] immanuelfodor commented on #128
I managed to build it with `npm run-script build` instead of the gulp build command.

[2021-01-17 07:44] kalvn commented on #128
Thanks for the notice.

I insist on the fact that what's not on the `master` branch is currently in dev and is not meant to be used for production. I worked quite a lot yesterday on splitting the huge unique JS file into modules and indeed I didn't update yet the build instructions. But the change of build tools appears in the commit message.

I just updated the README and the CHANGELOG.

[2021-01-17 07:44] #128 closed

[2021-01-17 07:56] kalvn commented on #120
The last commit should fix this issue.

[2021-01-17 09:09] immanuelfodor commented on #128
Since I do a lot of testing lately with Shaarli, my CI is building the latest commits. I only build manually when either Arthur or you fix one of the relevant issues, so athough I'm on bleeding edge, my Shaarli is fairly stable until some new fix comes out that I'm interested in. This morning, I reconfigured something else in my CI that involved a rerun of the pipeline, and so I observed it broke.

[2021-01-17 09:18] immanuelfodor commented on #120
It works wonderfully, thank you!

[2021-01-17 09:18] #120 closed

[2021-01-17 09:19] immanuelfodor commented on #123
With the latest commits, I don't experience this issue anymore, the surplus X tag is gone. Thank you very much!

[2021-01-17 09:19] #123 closed

[2021-01-17 20:14] kalvn commented on #128
No worries and again, thanks for your strong testing, you're helping me a lot :)

I just want to ensure you know that I sometimes don't push everything at the same time and that branches other than master remain somehow experimental. When working on a big feature that I need to split over several days, I still prefer to push at least once a day even if things aren't perfect.

[2021-01-20 13:57] kalvn commented on #121
This will be supported in v0.12.1, I'll release a beta soon.

[2021-02-01 18:45] mdrockwell opened #129 "Undefined Variable Error When Adding Link"
I receive the following error whenever I try to add a link to Shaarli (edited to remove my exact path):

Notice: Undefined variable: index in /bookmark/tmp/editlink.025e4ef3c23e9ff6918934cf9db5d80e.rtpl.php on line 23

The link still saves properly — I can see the saved link on other devices. This is with the latest version of Shaarli — 0.12.1 — and the latest beta release of the Material theme —

[2021-02-01 19:11] kalvn commented on #129
Thanks for the feedback. This issue is know and was fixed since then (https://github.com/kalvn/Shaarli-Material/commit/778bcf649c7f582a4143af8dcbcd599fdf3a517b) but I didn't make another release since then. I'll do that tonight and let you know when it's ready.

[2021-02-03 16:22] kalvn commented on #129
The last release solves the issue.

[2021-02-03 16:22] #129 closed

[2021-02-10 13:29] kalvn commented on #121
Fixed in [v0.12.1](https://github.com/kalvn/Shaarli-Material/releases/tag/v0.12.1).

[2021-02-10 13:29] #121 closed

[2021-02-10 13:30] kalvn commented on #119
Fixed in [v0.12.1](https://github.com/kalvn/Shaarli-Material/releases/tag/v0.12.1).

[2021-02-10 13:30] #119 closed

[2021-02-14 21:08] dajare opened #130 "Odd modal (?) popups with 0.12.1"
I just upgraded my "Material" Shaarli instance to 0.12.1, and it looks **great**. :) Thanks for the fix and update for this version!

I've got some odd behaviour. Every time I have a page-load of any kind (list view, individual bookmark, tag cloud, etc. etc.) I **always** get two popups in the bottom right of the screen:

<img width="446" alt="shaarli-wot" src="https://user-images.githubuserconten

[2021-02-14 21:48] kalvn commented on #130
Hi @dajare , thanks a lot for your feedback. My bad, it's something that I forgot to remove after my tests when I compiled the zip and tar.gz files attached to the release. 🤦‍♂️

It's now solved, I just updated zip and tar.gz files attached to the release v0.12.1: https://github.com/kalvn/Shaarli-Material/releases/tag/v0.12.1

You can now safely download them. Thanks again and sorry for this bug.

[2021-02-14 21:49] #130 closed

[2021-02-15 05:36] dajare commented on #130
All good! Thanks for the quick fix. Much appreciated!

[2021-12-09 13:16] A-d-r-i opened #131 "Possibility to reverse the arrow to change page"
Hello,
The arrow for changing pages is located at the top (and bottom) on the left.
However, it may be interesting to display it at the top (and bottom) on the right in order to follow the order: reading from top to bottom from left to right.

Thanks for reading!

[2021-12-19 11:20] kalvn commented on #131
Hi @A-d-r-i thanks for the suggestion. I indeed always thought there was a problem with those arrows. I'll maybe even group them both on the right, I think it could make more sense. I'll try to take some time in the coming days to implement it.

[2021-12-19 11:35] A-d-r-i commented on #131
Thanks @kalvn, it's perfect 😊

[2021-12-19 21:30] virtadpt commented on #131
What about making it an option on the config page?  That way, folks can choose what works best for them.

[2022-02-21 21:23] gingerbeardman opened #132 "Missing notification style"
Using the default theme: when you import bookmarks you see a notification that it was successful.

The notification does not appear when using Material, so the import function seems to have not worked as there is no feedback (it probably has worked, and you can browser your bookmarks)

<img width="721" alt="Screenshot 2022-02-21 at 21 30 19" src="https://user-images.githubusercontent.com/49612/155

[2022-03-20 14:53] kalvn commented on #132
Hi @gingerbeardman

Sorry for the late reply. I tried to reproduce the issue but couldn't. I did an import locally and could see the success notification:

![image](https://user-images.githubusercontent.com/6149640/159168375-ecbefeff-3ad3-4427-a821-2a0b7ecbc3b7.png)

Do you have the latest version of Shaarli and of Shaarli-Material installed?

If so, can you please help me to reproduce?

[2022-03-20 15:42] kalvn commented on #131
@A-d-r-i would that fit what you had in mind?

![image](https://user-images.githubusercontent.com/6149640/159170398-f6e7f2b6-057a-4f73-9220-2e7031cf18a8.png)

I'm currently trying several options. I may add Older/Newer labels as well since arrows are not super clear.

[2022-03-23 13:25] kalvn commented on #131
Alright, you can test this version of the code if you like: https://github.com/kalvn/Shaarli-Material/commit/06c0d1e7395d09e1a1973e8703397c7ac5477ed7

Otherwise, I'll prepare a release in the coming days in nothing else comes up in between.

[2022-05-15 18:21] #132 closed

[2022-05-15 19:37] gingerbeardman commented on #132
Sorry I missed your comment on this issue

[2022-05-15 20:39] kalvn commented on #132
No problem, I hope you found a solution.

[2022-05-15 23:42] gingerbeardman commented on #132
I did, probably not what you expect: I stopped using Shaarli